.page-404{
    min-width: 100vw;
    min-height: 100vh;
    @include container;
    @include flex(column, nowrap, center, center);
    background-image: url(../images/404-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        width: 100%;
        max-width: 1100px;
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, flex-start);
        }
    }
    &__descr{
        margin-bottom: $space40;
    }
    &__title{
        margin: 0;
        text-align: center;
        font-size: 20px;
        color: $textGrey;
        font-weight: 400;
        &--number{
            font-weight: 500;
            font-size: 100px;
            @include colorGradient;
            background-image: $blueGradient;
            @media screen and ($notebook) {
                font-size: 250px;
                line-height: 1;
            }
        }
    }
    &__link{
        display: block;
        padding: $space20;
        @extend .btn-round;
        @extend .btn-round--gradient;
        font-size: $font20;
        @media screen and ($notebook) {
            margin: 0 auto;
            padding: $space20 $space50;
            width: fit-content;
        }
    }
    &__subtitle{
        margin-bottom: $space16;
        font-weight: 500;
        font-size: 24px;
        color: $black;
        @media screen and ($notebook) {
            margin-bottom: $space50;
            font-size: 28px;
        }
    }
    &__nav-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__nav-item{
        & + &{
            margin-top: $space16;
        }
    }
    &__nav-link{
        font-size: $font18;
        @include link;
    }
}