.page-inner{
    padding-top: $space20;
    padding-bottom: $space40;
    @include container;
    @media screen and ($notebook) {
        padding-top: $space30;
        padding-bottom: 70px;
    }
    &__title{
        margin: 0 0 $space16;
        @include page-title;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__list{
        &--notification{
            @media screen and ($notebook) {
                max-width: 385px;
            }
        }
        &--card{
            @media screen and ($notebook) {
                max-width: 1095px;
            }
        }
    }
    &__item{
        & + &{
            margin-top: $space16;
            @media screen and ($notebook) {
                margin-top: 25px;
            }
        }
    }
    &__controls{
        margin-top: $space20;
        @media screen and ($notebook) {
            margin-top: $space50;
        }
    }
    &__link{
        display: block;
        padding: $space15;
        @extend .btn-round;
        font-size: $font16;
        @media screen and ($notebook) {
            width: fit-content;
            padding: $space15 $space50;
        }
        &--mark{
            @extend .btn-round--gradient;
        }
    }
}