.account-page{
    padding-top: $space20;
    padding-bottom: $space40;
    @include container;
    &__form{
        padding-bottom: $space40;
        max-width: 800px;
        @media screen and ($notebook) {
            padding-bottom: $space20;
        }
    }
    &__container{
        @media screen and ($notebook) {
            padding-top: $space40;
            @include flex($align: flex-start);
            column-gap: $space40;
            border-top: 1px solid $lightGrey;
        }
        @media screen and ($medium) {
            column-gap: 100px;
        }
    }
    &__notification{
        margin-bottom: $space40;
        @media screen and ($notebook) {
            flex: 1 0 385px;
            margin-bottom: 0;
        }
    }
    &__top{
        @media screen and ($notebook) {
            flex: 1 0 875px;
        }
    }
    &__news{
        
    }
    &__title{
        margin-bottom: $space16;
        @include h3;
        @media screen and ($notebook) {
            margin-bottom: $space50;
            @include h2;
        }
        &--news{
            @include container;
        }
    }
}
.account-notification{
    &__list{}
    &__item{
        & + &{
            margin-top: $space16;
        }
    }
    &__controls{
        margin-top: $space16;
        @include flex;
        column-gap: $space10;
        @media screen and ($notebook) {
            column-gap: $space4;
            justify-content: flex-start;
        }
    }
    &__link{
        flex: 1 0 45%;
        @extend .btn-round;
        font-size: $font12;
        @media screen and ($notebook) {
            flex: 0 0 fit-content;
            padding: $space8 $space24;
        }
        &--check{
            @extend .btn-round--gradient;
        }
        &--mark{
            @extend .btn-round--grey;
        }
    }
}
.notification-item{
    padding: $space6 $space16 $space24;
    border-radius: $space15;
    border: 1px solid $lightGrey;
    &--green{
        border-color: #4BB24E;
        background-image: linear-gradient(109.27deg, rgba(75, 178, 78, 0.1) 0%, rgba(156, 255, 213, 0.1) 102.22%);;
    }
    &__date{
        font-size: 10px;
        color: $mediumGrey;
        text-align: end;
    }
    &__title{
        margin-bottom: $space12;
        color: $textGrey;
        font-size: $font16;
        font-weight: 500;
    }
    &__descr{
        margin-bottom: $space12;
        font-size: $font12;
        color: $mediumGrey;
    }
    &__controls{
        @include flex;
        column-gap: $space4;
    }
    &__link{
        flex: 1 0 45%;
        @extend .btn-round;
        font-size: $font12;
        &--accept{
            @extend .btn-round--gradient;
        }
        &--ignore{
            @extend .btn-round--grey;
        }
    }
}
.picks-offer{
    &__list{
        @media screen and ($notebook) {
            @include flex($wrap: wrap);
            gap: 35px;
        }
    }
    &__item{
        @media screen and ($notebook) {
            flex: 1 0 45%;
        }
        & + &{
            margin-top: $space12;
            @media screen and ($notebook) {
                margin-top: 0;
            }
        }
    }
}