.advanced-search-page{
    padding-top: $space20;
    padding-bottom: $space40;
    @include container;
    @media screen and ($medium) {
        padding-top: $space30;
        padding-bottom: 80px;
    }   
    @media screen and ($desktop) {
        padding-bottom: 150px;
    }
    &__title{
        margin: 0 0 $space20;
        @include page-title;
        @media screen and ($medium) {   
            margin-bottom: 80px;
        }
        @media screen and ($desktop) {
            margin-bottom: 100px;
        }
    }
    &__form{
        width: 100%;
        @media screen and ($tablet) {}
        @media screen and ($notebook) {
            max-width: 540px;
        }
        @media screen and ($medium) {}
        @media screen and ($desktop) {}
    }
}
.advanced-search{
    &__item{
        & + &{
            margin-top: $space16;
            @media screen and ($desktop) {
                margin-top: $space50;
            }
        }
        &--keywords{
            @media screen and ($desktop) {
                padding-bottom: $space50;
            }
        }
    }
}
.advanced-search-item{
    @media screen and ($notebook) {
        @include flex(row, nowrap, flex-start, flex-start); 
        column-gap: $space50;  
    }
    &__hidden{
        display: none;
    }
    &__name{
        margin-bottom: $space12;
        @media screen and ($notebook) {
            flex-grow: 1;
            max-width: 160px;
        }
    }
    &__title{
        font-size: $font16;
        font-weight: 500;
        color: $textGrey;
        @media screen and ($notebook) {
            font-size: $font18;
        }
        &--small{
            margin-top: $space12;
            margin-bottom: $space16;
            @media screen and ($notebook) {
                margin-top: $space32;
                font-size: $font14;
                margin-bottom: $space14;
            }
        }
    }
    &__controls{
        @media screen and ($notebook) {
            flex-grow: 1;
            max-width: 320px;
        }
    }
    &__input{
        display: block;
        width: 100%;
        @include input;
        padding: $space14 $space15;
    }
    &__text{
        margin-top: $space4;
        color: $mediumGrey;
        font-size: $font12;
        &--link{
            position: relative;
            @include link;
            color: $mediumGrey;
            &:hover{
                position: relative;
                &::after{
                    background: $blueGradient;
                }
            }
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0px;
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(45deg, $mediumGrey, $mediumGrey);
            }
        }
    }
    &__label{
        @include flex(row, nowrap, flex-start, center);
        column-gap: 15px;
        padding-left: 5px;
        font-size: 14px;
        color: $textGrey;
        cursor: pointer;
        &:hover{
            .checkbox::after,
            .radio::after{
                visibility: visible;
                background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
            }
        }
         & + &{
            margin-top: $space12;
        }
    }
    &__checkbox{
    }
    &__checkbox-name{
        color: $textGrey;
    }
    &__link{
        position: relative;
        margin-top: $space16;
        display: inline-block;
        @include linkGraadient;
        font-size: $font12;
        @media screen and ($notebook) {
            margin-top: $space28;
        }
        &:hover{
            // background-image: $mediumGrey;
            // background-image: linear-gradient(45deg, $mediumGrey, $mediumGrey);
            // color: $mediumGrey;
            &::after{
                opacity: 0;
            }
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            display: block;
            width: 100%;
            height: 1px;
            background: $blueGradient;
        }
        &--reset{
            font-size: $font14;
            text-transform: uppercase;
            @media screen and ($notebook) {
                margin-top: $space16;
            }
        }
    }
    &__range{
        padding-top: $space20;
        @media screen and ($desktop) {
            max-width: 220px;
        }
    }
    &__range-descr{
        @include flex(row, nowrap, space-between, center);
        padding-top: $space12;
        padding-bottom: $space12;
    }
    &__range-value{
        font-size: $font12;
        color: $mediumGrey;
        letter-spacing: 0.17px;
    }
    &__age{
        padding-bottom: $space16;
        @media screen and ($notebook) {
            padding-bottom: $space24;
        }
    }
    &__submit{
        display: block;
        width: 100%;
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space15 0;
        @media screen and ($notebook) {
            max-width: 165px;
        }
    }
}
.age-range{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space10;
    &__input{
        width: fit-content;
        @include input;
        padding: $space20 $space14;
        width: 54px;
        text-align: center;
    }
}
