.company-profile{
    padding-top: $space20;
    @include container;
    &__header{
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, flex-start);
        }
    }
    &__controls{
    }
    &__reviews{
        margin-top: $space40;
        margin-bottom: 0;
        @media screen and ($notebook) {
            padding-bottom: $space50;
        }
    }
}
.company-info{
    @media screen and ($notebook) {
        display: grid;
        grid-template-areas: "logo name" "active active";
        column-gap: $space20;
        row-gap: 25px;
    }
    &__logo{
        width: $space50;
        height: $space50;
        margin-bottom: $space8;;
        @media screen and ($notebook) {
            width: 90px;
            height: 90px;
            margin-bottom: 0;
            grid-area: logo;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    &__descr{
        @media screen and ($notebook) {
            grid-area: name;
        }
    }
    &__name{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space12;
        margin: 0 0 $space8;
        @include page-title;
        @media screen and ($notebook) {
            margin-bottom: $space15;
        }
    }
    &__slogan{
        margin-bottom: $space8;
        font-size: $font14;
        color: $mediumGrey;
        @media screen and ($notebook) {
            margin-bottom: $space10;
        }
    }
    &__links{
        @include flex(row, nowrap, flex-start, center);
        margin: 0 0 $space8;
        column-gap: $space15;
    }
    &__active{
        @media screen and ($notebook) {
            grid-area: active;
        }
    }
}
.company-item{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space5;
    text-decoration: none;
    &__icon{
        width: 16px;
    }
    &__text{
        font-size: $font12;
        color: $mediumGrey;
        &--gradient{
            @include colorGradient;
            background-image: $blueGradient;
        }
    }
}
.company-vacancy{
    width: fit-content;
    padding: 1px;
    border-radius: $space40;
    background: $greenGradient;
    &__content{
        padding: $space10 $space12;
        border-radius: $space40;
        background-color: $white;
        background-image: linear-gradient(109.27deg, rgba(75, 178, 78, 0.1) 0%, rgba(156, 255, 213, 0.1) 102.22%);
    }
    &__text{
        @include colorGradient;
        background-image: $greenGradient;
    }
}
.company-links{
    &--mobile{
        margin-top: $space20;
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space10;
        @media screen and ($notebook) {
            display: none;
        }
    }
    &--desktop{
        display: none;
        @media screen and ($notebook) {
            display: block;
            padding-top: $space20;
            max-width: 295px;
            flex-grow: 1;
        }
    }
    &__item{
        flex: 1 0 47%;
        @extend .btn-round;
        font-size: $font14;
        text-align: center;
        width: fit-content;
        @media screen and ($notebook) {
            display: block;
            padding: $space10 $space20;
        }
        &--gradient{
            @extend .btn-round--gradient;
        }
        &--grey{
            @extend .btn-round--grey;
        }
        & + &{
            margin-top: $space5;
        }
    }
}
.company-location{
    @include flex(row, nowrap, flex-start, center);
    &__icon{
        margin-right: $space5;
        width: $space16;
    }
    &__item{
        @include flex(row, nowrap, flex-start, center);
        flex-shrink: 0;
        padding-right: $space10;
        font-size: $font12;
        line-height: $space16;
        color: $mediumGrey;
        & + &{
            padding-left: $space10;
            border-left: 1px solid $mediumGrey;
        }
    }
}
.company-open{
    @include container;
    padding-top: $space40;
    @media screen and ($tablet) {
        padding-bottom: $space40;
    }
    @media screen and ($notebook) {
        padding-bottom: 60px;
    }
    &--show {
        & .company-open__link:nth-child(n + 10){
            display: block;
        }
        & .company-open__more{
            display: none;
        }
    }
    &__title{
        margin-bottom: $space16;
        font-weight: 500;
        font-size: 24px;
        color: $black;
        @media screen and ($notebook) {
            margin-bottom: $space24;
        }
        @media screen and ($medium) {
            margin-bottom: $space50;
        }
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $space16;
        max-width: 1010px;
        @media screen and ($tablet) {
            grid-template-columns: 1fr 1fr;
            column-gap: $space16;
        }
        @media screen and ($notebook) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: $space20;
        }
        @media screen and ($medium) {
            column-gap: $space24;

        }
        @media screen and ($desktop) {}
    }
    &__link{
        width: fit-content;
        @include link;
        &:nth-child(n + 10){
            display: none;
            @media screen and ($notebook) {
                display: block;
            }
        }
        &--more{
            @include linkGraadient;
            &::after{
                content: none;
            }
        }
    }
    &__more{
        padding-top: $space16;
        @media screen and ($notebook) {
            display: none;
        }
    }
}