.cv-page{
    @include container;
    padding-top: $space20;
    @media screen and ($tablet) {
        padding-top: $space34;
    }
    &__header{
        display: grid;
        grid-template-areas: "status status" "preview title" "info info";
        grid-template-columns: auto 1fr;
        padding-bottom: $space20;
        @media screen and ($notebook) {
            padding-bottom: $space50;
            border-bottom: 1px solid $lightGrey;
            grid-template-areas: "preview status" "preview title" "preview info" "controls controls";

        }
    }
    &__status{
        grid-area: status;
    }
    &__title{
        margin: 0;
        @include page-title;
        color: $black;
        grid-area: title;
    }
    &__preview{
        margin-right: $space12;
        width: 80px;
        grid-area: preview;
        @media screen and ($notebook) {
            width: auto;
        }
    }
    &__logo{
        margin-left: auto;
        margin-right: auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        @media screen and ($notebook) {
            margin-left: 0;
            width: 120px;
            height: 120px;
            margin-bottom: $space20;
        }
    }
    &__type{
        @media screen and ($notebook) {
            width: 150px;
        }
    }
    &__pic{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__type-pic{
        width: 100%;
    }
    &__info{
        margin-top: $space20;
        grid-area: info;
    }
    &__descr{
        margin-bottom: $space8;
        color: $mediumGrey;
        font-size: $font14;
        font-weight: 500;
    }
    &__controls{
        padding-top: $space20;
        @media screen and ($notebook) {
            padding-top: $space16;
        }
        &--mobile{
            @media screen and ($notebook) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($notebook) {
                @include flex(row, nowrap, flex-start, center);
                column-gap: $space5;
                grid-area: controls;
            }
        }
    }
    &__link{
        display: block;
        width: 100%;
        padding: $space15 0;
        @extend .btn-round;
        @media screen and ($notebook) {
            width: fit-content;
            padding: $space10 $space20;
        }
        &--invite{
            @extend .btn-round--gradient;
        }
        &--direct{
            @extend .btn-round--grey;
        }
        & + &{
            margin-top: $space12;
            @media screen and ($notebook) {
                margin-top: 0;
            }
        }
    }
    &__profile{
        // padding-top: 
    }
}

.profile-status{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space4;
    &__icon{
        width: $space14;
    }
    &__status{
        font-size: $font12;
        @include colorGradient;
        background-image: $greenGradient;
    }
}

.cv-profile{
    @media screen and ($notebook) {
        @include flex(row-reverse, nowrap, flex-end, flex-start);
        column-gap: 45px;
        padding-top: $space50;
    }
    &__subtitle{
        padding-bottom: $space16;
        font-weight: 500;
        color: $textGrey;
        font-size: $font18;
        @media screen and ($tablet) {
            padding-bottom: $space50;
        }
        &--skill{
            @media screen and ($tablet) {
                padding-bottom: $space15;
            }
        }
    }
    &__detail{
        @media screen and ($notebook) {
            flex: 1 0 270px;
            max-width: 270px;
        }
    }
    &__item{
        & + &{
            margin-top: $space16;
            @media screen and ($notebook) {
                margin-top: $space24;
            }
        }
    }
    &__descr{
        padding-top: $space40;
        @media screen and ($notebook) {
            flex: 0 0 940px;
            padding-top: 0;
        }
    }
}

.cv-detail{
    @include flex(column, nowrap, flex-start, flex-start);
    row-gap: $space8;
    @media screen and ($notebook) {
        flex-flow: row;
        justify-content: space-between;
    }
    &__name{
        font-weight: 500;
        font-size: $font14;
        color: $textGrey;
    }
    &__value{
        font-size: $font12;
        color: $textGrey;
        @media screen and ($notebook) {
            text-align: end;
        }
        &--date{
            color: $lightGrey;
        }
        &--blur{
            filter: blur(1.5px);
        }
        &--green{
            @include colorGradient;
            background-image: $greenGradient;
        }
    }
    &__link{
        @include linkGradient;
    }
}
.cv-descr{
    &__item{
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, space-between)
        }
    }
    &__name{
        @media screen and ($notebook) {
            flex-basis: 185px;
            flex-shrink: 0;
        }
    }
    &__value{}

    &__about{}
    &__text{
        font-size: $font14;
        color: $textGrey;
        @media screen and ($tablet) {
            font-size: $font16;
        }
        & + &{
            margin-top: $space20;
        }

    }
    &__skills{
        padding-top: $space20;
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, space-between)
        }
    }
    &__skill-item{
        & + &{
            margin-top: $space20;
            @media screen and ($notebook) {
                margin-top: 0;
            }
        }
    }
    &__experience{
        padding-top: $space20;
        @media screen and ($notebook) {
            padding-top: $space50;
        }
    }
    &__education{
        padding-top: $space20;
        @media screen and ($notebook) {
            padding-top: $space50;
        }
    }
    &__additional{
        @media screen and ($notebook) {
            padding-top: $space50;
        }
    }
    &__final{
        padding-bottom: $space16;
        font-size: $font18;
        color: $textGrey;
        font-weight: 500;
        @media screen and ($notebook) {
            padding-bottom: $space50;
        }
    }
    &__final-name{
        display: inline-block;
    }
    &__final-value{
        display: inline-block;
        @include colorGradient;
        background-image: $blueGradient;
    }
}
.skill-list{
    @include flex(row, wrap, flex-start, center);
    gap: $space8;
    &__item{
    }
}
.skill-item{
    padding: 1px;
    border-radius: $space40;
    &--grey{
        background-color: $lightGrey;
        .skill-item__content{
            background-color: $whiteBg;
            color: $mediumGrey;
        }
    }
    &--green{
        background-image: $greenGradient;
        .skill-item__content{
            background-color: $white;
        }
        .skill-item__title{
            @include colorGradient;
            background-image: $greenGradient;
        }
    }
    &--base{
        background-color: $mediumGrey;
        .skill-item__content{
            background-color: $white;
        }
    }
    &__content{
        padding: 8px 18px;
        border-radius: $space40;
        text-align: center;
        line-height: 0;
    }
    &__title{
        line-height: 1;
        font-size: $font12;
        color: $textGrey;
    }
}

.cv-experience{
    &__item{
        & + &{
            margin-top: 32px;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }
    }
    &__time{
        padding-bottom: $space4;
        font-size: $font14;
        color: $textGrey;
        &--final{
            color: $lightGrey;
        }
    }
}
.cv-place{
    padding-top: $space8;
    @media screen and ($notebook) {
        padding-top: 0;
    }
    &__job{
        padding-bottom: $space4;
        font-weight: 500;
        font-size: $font16;
        color: $textGrey;
    }
    &__location{
        padding-bottom: $space4;
        font-size: $font12;
        color: $lightGrey;
    }
    &__descr{
        font-size: $font14;
        color: $textGrey;
        @media screen and ($notebook) {
            font-size: $font16;
        }
        p{
            & + p{
                margin-top: $space20;
            }
        }
        ul{
            margin: $space20 0;
        }
        li{
            & + li{
                margin-top: $space10;
            }
        }
    }
}
.cv-education{
    &__item{
        & + &{
            margin-top: $space16;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }
    }
    &__period{
        font-size: $font14;
        color: $textGrey;
    }
    &__degree{
        color: $textGrey;
        font-weight: 500;
        font-size: $font16;
    }
    &__course{
        font-size: $space12;
        color: $lightGrey;
    }
}
.cv-additional{
    &__item{
        & + &{
            margin-top: $space12;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }
    }
    &__name{
        padding-bottom: $space8;
        font-weight: 500;
        font-size: $font14;
        color: $textGrey;
        @media screen and ($notebook) {
            padding-bottom: 0;
        }
    }
    &__value{
        color: $textGrey;
        font-size: $font12;
    }
}
.similar-cvs{
    @include container;
    padding-top: $space40;
    padding-bottom: $space40;
    @media screen and ($medium) {
        padding-top: $space50;
        padding-bottom: 60px;
    }
    @media screen and ($desktop) {
        padding-bottom: 100px;
    }
    &__container{
        max-width: 1095px;
        overflow: hidden;
    }
    &__title{
        margin-bottom: $space16;
        @include subtitle;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-bottom: $space24;
        }
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__scroll{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space20;
        overflow-x: auto;
        @media screen and ($notebook) {
            display: block;
        }
    }
    &__card{
        flex-shrink: 0;
        flex-basis: 100%;
        & + &{
            @media screen and ($notebook) {
                margin-top: $space24;
            }

        }
    }
}