.job-offer{
    padding-top: $space20;
    @include container;
    &__info{
        padding-bottom: $space20;
    }
    &__container{
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, flex-start);
        }
        &--left{
            @media screen and ($notebook) {
                max-width: 936px;
                flex-grow: 1;
            }
        }
        &--right{
            @media screen and ($notebook) {
                max-width: 295px;
                flex-grow: 1;
            }
        }
    }
    &__descr{
        padding-top: $space20;
        @media screen and ($notebook) {
            padding-top: $space50;
            @include flex(row-reverse, nowrap, space-between, flex-start);
        }
    }
    &__benefits{
    }
    &__text{
        padding-top: $space40;
        @media screen and ($notebook) {
            padding-top: 0;
        }
    }
}
.offer-info{
    &__back{
        @include linkGraadient;
    }
    &__title{
        margin: $space8 0;
        @include page-title;
    }
    &__pay{
        font-weight: 500;
        font-size: $font20;
        color: $textGrey;
        &--moblie{
            @media screen and ($notebook) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($notebook) {
                display: block;
            }

        }
    }
    &__date{
        padding-top: $space8;
        font-size: $font12;
        color: $mediumGrey;
    }
}

.offer-company{
    padding: $space16;
    background: $whiteBg;
    border: 1px solid $lightGrey;
    border-radius: 20px;
    @media screen and ($notebook) {
        // display: grid;
        // grid-template-areas: ;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
    }
    &__logo{
        margin-bottom: $space8;
        width: $space32;
        @media screen and ($notebook) {
            margin-bottom: 0;
            width: 80px;
        }
    }
    &__info{
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, flex-start);
        }
    }
    &__company{}
    &__company-name{
        @media screen and ($notebook) {}
    }
    &__descr{
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, center);
            column-gap: $space15;
            padding-bottom: $space15;
        }
    }
    &__name{
        margin-bottom: $space8;
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space8;
        font-size: $font20;
        color: $textGrey;
        @media screen and ($notebook) {
            column-gap: $space14;
            margin-bottom: $space20;
        }
    }
    &__rate{
        @media screen and ($notebook) {
            padding: $space16;
            background: $whiteBg;
            border: 1px solid $lightGrey;
            border-radius: 20px;
            // grid-area: rate;
        }
    }
    &__apply{
        display: none;
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, center);
        }
    }
    &__btn{
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space15 $space50;
        font-size: $font16;
        &--benefit{
            display: block;
            width: 100%;
            margin-top: $space20;
            @media screen and ($notebook) {
                margin-top: $space20;
            }
        }
    }
}

.offer-rate{
    &__rate{
        margin-bottom: $space8;
    }
    &__text{
        color: $textGrey;
        font-size: $font12;
        letter-spacing: 0.17px;
    }
    &__text{
        margin-bottom: $space8;
        font-size: $font12;
    }
    &__link{
        display: block;
        width: fit-content;
        @extend .btn-round;
        @extend .btn-round--grey;
        padding-left: $space6;
        padding-right: $space6;
        font-size: $font12;
        @media screen and ($notebook) {
            width: 100%;
            max-width: 190px;
        }
    }
}
.rate-company{
    @include flex(row, nowrap, flex-start, center);
    &__star{
        margin-right: $space10;
        width: $space20;
    }
    &__final{
        margin-right: $space4;
        font-size: $font16;
        letter-spacing: 0.15px;
        font-weight: 500;
        color: $textGrey;
    }
    &__reviews{
        font-size: $space12;
        line-height: 150%;
        letter-spacing: 0.15px;
        background: $blueGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.offer-descr{
    &__title{
        font-weight: 500;
        font-size: $font18;
        color: $textGrey;
        &--benefit{
            padding-bottom: $space16;
            @media screen and ($notebook) {
                padding-bottom: $space50;
            }
        }
        &--subtitle{
            margin-bottom: $space16;
            @media screen and ($notebook) {
                margin-bottom: $space24;
            }
        }
    }
    &__list{
        padding-left: $space20;
    }
    &__list-item{
        font-size: $font16;
        line-height: 1.4;
        color: $textGrey;
        & + &{
            margin-top: $space4;
        }
    }
    &__section{
        &--text{
            margin-bottom: $space40;
            @media screen and ($notebook) {
                margin-bottom: $space50;
            }
        }
        & + &{
            margin-top: $space20;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }
    }
    &__container{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space10;
        overflow-x: auto;
        & + &{
            margin-top: $space8;
        }
    }
    &__part{
        flex-shrink: 0;
        padding: $space10 $space20;
        border: 1px solid $lightGrey;
        border-radius: $space40;
        &--requir{
            background: $whiteBg;
            font-size: $font12;
            color: $mediumGrey;
        }
        &--ask{
            color: $textGrey;
            font-size: $font14;
        }
    }
    &__location{
        margin-bottom: $space16;
    }
}
.job-benefit{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space8;
    & + &{
        margin-top: $space8;
    }
    &__icon{
        width: $space32;
    }
    &__name{
        font-size: $font14;
        color: $textGrey;
    }
}
.offer-text{
    p{
        @include text;
        color: $textGrey;
        & + p{
            margin-top: $space20;
        }
    }
}
.similar-jobs{
    @include container;
    padding-top: $space40;
    padding-bottom: $space40;
    @media screen and ($medium) {
        padding-top: $space50;
        padding-bottom: 60px;
    }
    @media screen and ($desktop) {
        padding-bottom: 100px;
    }
    &__container{
        max-width: 1095px;
        overflow: hidden;
    }
    &__title{
        margin-bottom: $space16;
        @include subtitle;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-bottom: $space24;
        }
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__scroll{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space20;
        overflow-x: auto;
        @media screen and ($notebook) {
            display: block;
        }
    }
    &__card{
        flex-shrink: 0;
        flex-basis: 100%;
        & + &{
            @media screen and ($notebook) {
                margin-top: $space24;
            }

        }
    }
}
.job-reviews{
    @include container;
    @media screen and ($notebook) {
        max-width: 865px;
    }
    &__container{
        @media screen and ($notebook) {
            display: grid;
            grid-template-areas: "rate rate" "review info";
            row-gap: $space50;
            column-gap: $space30;
        }
    }
    &__title{
        margin-bottom: $space16;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__rate{
        margin-bottom: $space16;
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space8;
        @media screen and ($notebook) {
            margin-bottom: 0;
            grid-area: rate;
            max-width: 580px;
            column-gap: 0;
        }
    }
    &__rate-item{
        flex: 1 1 50%;
    }
    &__info{
        height: fit-content;
        margin-bottom: $space16;
        padding: $space24 $space16;
        border-radius: $space15;
        background-color: $whiteBg;
        @media screen and ($notebook) {
            grid-area: info;
            margin-bottom: 0;
            padding: $space30 $space16;
        }
    }
    &__text{
        margin-bottom: $space16;
        font-size: $font12;
        color: $textGrey;
    }
    &__review{
        @media screen and ($notebook) {
            grid-area: review;
            max-width: 540px;
        }
    }
    &__item{
        &:not(:first-child){
            display: none;
            @media screen and ($notebook) {
                display: block;
            }
        }
        & + &{
            margin-top: 30px;
        }
    }
    &__more{
        @extend .btn-round;
        @extend .btn-round--gradient;
        display: block;
        margin-top: $space16;
        width: 100%;
        padding: $space15 0;
        font-size: $font16;
        @media screen and ($notebook) {
            width: fit-content;
            padding: $space15 $space50;
        }
    }
}
.reviews-rate{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space4;
    @media screen and ($notebook) {
        column-gap: $space15;
    }
    &__procent{
        @include colorGradient;
        background-image: $blueGradient;
        font-size: 32px;
        font-weight: 500;
    }
    &__text{
        @include text;
        color: $mediumGrey;
        @media screen and ($notebook) {
            list-height: 1.1;
        }
        &--score{
            display: block;
            @include colorGradient;
            background-image: $greenGradient;
        }
    }
}
.review-item{
    padding: $space24 $space16;
    border: 1px solid $lightGrey;
    border-radius: $space20;
    background-color: $white;
    @media screen and ($notebook) {
        padding: $space24 $space30 $space40;
    }
    &__header{
        @include flex(row, nowrap, space-between, flex-start);
        margin-bottom: $space12;
    }
    &__title{
        margin-bottom: $space4;
        font-size: $font16;
        color: $textGrey;
    }
    &__date{
        font-size: $font14;
        color: $mediumGrey;
    }
    &__star{
        width: 120px;
    }
    &__text{
        font-size: $font16;
        line-height: 1.4;
        color: $textGrey;
    }
}