.job-map{
    padding-bottom: $space20;
    &__header{
        @include container;
    }
    &__container{
        @extend .job-list__container;
    }
    &__content{
        @extend .job-search__content;
    }
    &__filter{
        margin-top: $space15;
    }
    &__list{
        @media screen and ($notebook) {
            @include flex(row-reverse, nowrap, flex-start, stretch);
            column-gap: 30px;
        }
    }
    &__map{
        @media screen and ($notebook) {
            flex-grow: 1;
        }
    }
    &__offers{
        padding-top: $space12;
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        @media screen and ($tablet) {
            padding-left: 0;
            padding-right: 0;
        }

        @media screen and ($notebook) {
            padding: 0;
            flex-basis: 420px;
            flex-shrink: 0;
        }
    }
}

.map-container{
    width: 100%;
    height: 600px;
    // 
    object-fit: cover;
    @media screen and ($notebook) {
        height: 100%;
        min-height: 920px;
    }
    @media screen and ($medium) {
        min-height: 920px;
    }
}

.map-offers{
    &__card{
        & + &{
            margin-top: $space12;
            @media screen and ($notebook) {
                margin-top: $space24;
            }
        }
    }
    &__pagination{
        padding-top: $space20;
    }
}