.job-search{
    &__settings{
        @include container;
    }
    &__content{
        @media screen and ($tablet) {
            padding-left: $tabletCon;
            padding-right: $tabletCon;
        }
        @media screen and ($notebook) {
            padding-left: $notebookCon;
            padding-right: $notebookCon;
        }
        @media screen and ($medium) {
            padding-left: $mediumCon;
            padding-right: $mediumCon;
        }
        @media screen and ($desktop) {
            padding-left: $desktopCon;
            padding-right: $desktopCon;
        }
    }
}

.search-settings{
    &__tabs{
        padding-top: $space20;
    }
    &__form{
        padding-top: $space16;
        max-width: 800px;

    }
}

.job-list{
    &__title{
        margin-top: $space20;
        margin-bottom: $space16;
        font-weight: 500;
        font-size: $font18;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-top: $space50;
        }
    }
    &__container{
        @include container;
        @media screen and ($tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__content{
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, flex-start);
        }
    }
    &__control{
        padding-top: $space16;
        padding-bottom: $space16;
        border-top: 1px solid $lightGrey;
        border-bottom: 1px solid $lightGrey;
        &--filter{
            @media screen and ($notebook) {
                display: none;
            }
        }
    }
    &__filter{
        display: none;
        @media screen and ($notebook) {
            display: block;
            flex: 1 0 246px;
            
        }
    }
    &__items{
        padding-top: $space12;
        @media screen and ($notebook) {
            flex-grow: 1;
            flex-shrink: 1;
            padding: $space24;
            padding-bottom: $space50;
            padding-right: 0;
        }
    }
    &__speciality{
    }
    
}
.job-filter{
    padding: $space12 0;
    &--mobile-open{
        display: block;
    }
    @media screen and ($notebook) {
        padding: $space12 $space20;
        padding-top: $space24;
        padding-left: 0;
        padding-right: $space20;
        max-width: 245px;
    }
    &__header{
        padding-bottom: $space12;
        @include flex(row, nowrap, space-between, center);
    }
    &__title{
        font-size: $font16;
        color: $textGrey;
        font-weight: 500;
    }
    &__reset{
        @include linkGraadient;
        font-size: $font12;
    }
    &__item{
    }
}
.filter-item{
    padding-top: $space12;
    @media screen and ($notebook) {
        padding-top: $space50;
    }
    &--hidden{
        display: none;
    }
    &__title{
        padding-bottom: $space8;
        font-size: $font14;
        color: $mediumGrey;
    }
    &__submit{
        @media screen and ($notebook) {
            display: none;
        }
    }
}
.job-items{
    &__card{
        & + &{
            margin-top: $space12;
        }
    }
    &__pagination{
        padding-top: $space20;
        @media screen and ($notebook) {
            padding-top: $space50;
        }
    }
}
.speciality-list{
    overflow: hidden;
    &__container{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space10;
        padding-bottom: $space16;
        overflow-x: scroll;

    }
    &__item{
        flex-shrink: 0;
        padding: $space10 $space20;
        text-decoration: none;
        color: $mediumGrey;
        font-size: $font12;
        background: linear-gradient(109.27deg, $whiteBg, $whiteBg);
        border: 1px solid $lightGrey;
        border-radius: 40px;
        transition: $transition;
        &:hover{
            background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.2) 0%, rgba(156, 217, 255, 0.2) 102.22%);
        }
    }
}
.search-control{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space4;
    padding-top: $space16;
    padding-bottom: $space16;
    &__btn{
        padding: $space10;
        border: 1px solid $lightGrey;
        border-radius: $space10;
        line-height: 0;
        &--map{
            margin-left: auto;
        }
    }
    &__btn-icon{
        width: $space18;
    }
}

.job-card{
    position: relative;
    padding-top: $space20;
    padding-bottom: $space20;
    padding-left: $space16;
    padding-right: $space12;
    border: 1px solid $lightGrey;
    border-radius: $space20;
    @media screen and ($notebook) {
        padding: $space40 $space24 $space28;
    }
    &__company{
        @include flex(row, nowrap, space-between, center);
        margin-bottom: $space4;
    }
    &__logo{
        width: $space32;
        line-height: 0;
        // position: absolute;
        // top: $space20;
        // right: $space12;
    }
    &__name{
        @include flex(row, nowrap, flex-start, center);
        font-size: $font14;
        color: $mediumGrey;
    }
    &__verify{
        margin-left: $space10;
    }
    &__title{
        margin-bottom: $space6;
        @include text;
        font-weight: 500;
        background-image: $blueGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, center);
            column-gap: $space18;
        }
    }
    &__pay{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space6;
        margin-bottom: $space4;
        font-size: $font18;
        color: $textGrey;
        @media screen and ($notebook) {
            margin-bottom: $space15;
            font-size: $font20;
        }
    }
    &__promoted{
        &--mobile{
            display: flex;
            @media screen and ($notebook) {
                display: none;
            }
            
        }
        &--desktop{
            display: none;
            @media screen and ($notebook) {
                display: flex;
            }

        }
    }
    &__info{
        @include flex(row, wrap, flex-start, center);
        column-gap: $space15;
        padding-bottom: $space4;
        @media screen and ($notebook) {
            padding-bottom: $space15;
        }
        &--company{
            @media screen and ($notebook) {
                padding-bottom: 0;
            }
        }
    }
    &__text{
        max-height: 32px;
        max-width: 640px;
        font-size: $font12;
        line-height: 1.4;
        color: $mediumGrey;
        overflow: hidden;
    }
    &__footer{
        padding-top: $space4;
        @media screen and ($notebook) {
            @include flex(row-reverse, nowrap, space-between, center);
            padding-top: $space15;
        }
    }
    &__watch{
    }
    &__controls{
        @include flex(row, nowrap, center, center);
        column-gap: $space8;
        padding-top: $space20;
        @media screen and ($notebook) {
            column-gap: $space4;
            padding-top: 0;
            
        }
        &--page{
            @media screen and ($notebook) {
                flex-direction: row-reverse;
            }
        }
    }
    &__btn{
        @extend .btn-round;
        padding-top: $space6;
        padding-bottom: $space6;
        flex: 1 0 49%;
        font-size: $font12;
        @media screen and ($notebook) {
            padding: $space8 $space24;
            flex: 1 1 auto;
        }
        &--disabled,
        &[disabled]{
            opacity: 0.5;
            pointer-events: none
        }
        &--apply{
            @extend .btn-round--gradient;
        }
        &--contact{
            @extend .btn-round--grey;
        }
        &--favorite{
            padding: 0;
            flex: 0 0 auto;
            @media screen and ($notebook) {
                padding: 0;
            }
        }
    }
    &__favorite-icon{
        width: $space30;
        @media screen and ($notebook) {
            width: 36px;
        }
    }
}
.verify-icon{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0.5C3.36 0.5 0 3.86 0 8C0 12.14 3.36 15.5 7.5 15.5C11.64 15.5 15 12.14 15 8C15 3.86 11.64 0.5 7.5 0.5ZM6 11.75L2.25 8L3.3075 6.9425L6 9.6275L11.6925 3.935L12.75 5L6 11.75Z' fill='url(%23paint0_linear_1252_39768)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1252_39768' x1='0' y1='0.5' x2='18.4401' y2='6.94507' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BB24E'/%3E%3Cstop offset='1' stop-color='%239CFFD5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: linear-gradient(109.27deg, rgba(75, 178, 78, 0.3) 0%, rgba(156, 255, 213, 0.3) 102.22%);
        transition: $transition;
    }
    &:hover{
        &::after{
            opacity: 1;
            visibility: visible;
        }

    }
    &__icon{

    }
}
.job-promoted{
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: $space5;
    row-gap: 2px;
    &__icon{
        width: $space14;
        height: $space14;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1252_34464' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1252_34464)'%3E%3Cpath d='M3.16455 6.19713L4.44788 6.73671C4.60344 6.41588 4.77125 6.10963 4.9513 5.81796C5.13097 5.52629 5.32774 5.23463 5.54163 4.94296L4.6958 4.78254C4.65691 4.77282 4.62541 4.77282 4.6013 4.78254C4.5768 4.79226 4.54997 4.80685 4.5208 4.82629L3.16455 6.19713ZM5.14788 7.29088L6.7958 8.93879C7.2333 8.75407 7.68538 8.50129 8.15205 8.18046C8.61872 7.85963 9.06108 7.49018 9.47913 7.07213C10.1305 6.42074 10.6361 5.70849 10.9958 4.93538C11.3555 4.16265 11.5354 3.36796 11.5354 2.55129C10.7187 2.55129 9.92402 2.72863 9.1513 3.08329C8.37819 3.43835 7.66108 3.94643 6.99997 4.60754C6.58191 5.0256 6.21247 5.46796 5.89163 5.93463C5.5708 6.40129 5.32288 6.85338 5.14788 7.29088ZM7.94788 6.12421C7.75344 5.92004 7.65622 5.67699 7.65622 5.39504C7.65622 5.1131 7.75344 4.8749 7.94788 4.68046C8.15205 4.48601 8.39744 4.38879 8.68405 4.38879C8.97105 4.38879 9.21177 4.48601 9.40622 4.68046C9.60066 4.8749 9.69788 5.1131 9.69788 5.39504C9.69788 5.67699 9.60066 5.92004 9.40622 6.12421C9.21177 6.31865 8.97105 6.41588 8.68405 6.41588C8.39744 6.41588 8.15205 6.31865 7.94788 6.12421ZM7.88955 10.9221L9.2458 9.56588C9.27497 9.53671 9.29441 9.50987 9.30413 9.48537C9.31386 9.46126 9.31386 9.42976 9.30413 9.39088L9.12913 8.54504C8.84719 8.75893 8.55805 8.95338 8.26172 9.12838C7.96499 9.30338 7.66108 9.47351 7.34997 9.63879L7.88955 10.9221ZM12.3229 1.74921C12.4493 2.87699 12.318 3.9439 11.9291 4.94996C11.5402 5.9564 10.8986 6.90685 10.0041 7.80129L9.9528 7.85204L9.90205 7.90338L10.1645 9.21588C10.1937 9.39088 10.184 9.56354 10.1354 9.73388C10.0868 9.90382 9.99927 10.0471 9.87288 10.1638L7.5833 12.4534L6.48955 9.87212L4.19997 7.58254L1.6333 6.48879L3.9083 4.19921C4.02497 4.08254 4.16847 3.99738 4.3388 3.94371C4.50875 3.89043 4.68122 3.87838 4.85622 3.90754L6.19788 4.18463C6.21733 4.16518 6.23191 4.14826 6.24163 4.13388C6.25136 4.1191 6.26594 4.10199 6.28538 4.08254C7.17983 3.1881 8.13027 2.5439 9.13672 2.14996C10.1428 1.7564 11.2048 1.62282 12.3229 1.74921ZM2.63955 9.37629C2.9215 9.09435 3.26663 8.95085 3.67497 8.94579C4.0833 8.94113 4.42844 9.08463 4.71038 9.37629C5.00205 9.65824 5.14536 10.0034 5.1403 10.4117C5.13563 10.82 4.99233 11.1652 4.71038 11.4471C4.48677 11.6707 4.12472 11.8603 3.62422 12.0159C3.12333 12.1714 2.47427 12.2978 1.67705 12.395C1.77427 11.6075 1.90319 10.9635 2.0638 10.463C2.22402 9.96215 2.41594 9.5999 2.63955 9.37629ZM3.26663 9.98879C3.15969 10.0957 3.05761 10.2779 2.96038 10.5354C2.86316 10.7932 2.79511 11.0534 2.75622 11.3159C3.02844 11.2867 3.29094 11.2235 3.54372 11.1263C3.79649 11.0291 3.97636 10.927 4.0833 10.82C4.19997 10.7034 4.26063 10.5624 4.2653 10.3971C4.27036 10.2318 4.21455 10.0909 4.09788 9.97421C3.98122 9.85754 3.84258 9.80154 3.68197 9.80621C3.52175 9.81126 3.3833 9.87213 3.26663 9.98879Z' fill='url(%23paint0_linear_1252_34464)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1252_34464' x1='1.6333' y1='1.70313' x2='14.8354' y2='6.31136' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BB24E'/%3E%3Cstop offset='1' stop-color='%239CFFD5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__text{
        font-size: $font12;
        background: linear-gradient(109.27deg, #4BB24E 0%, #9CFFD5 102.22%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.job-param{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space4;
    &__icon{
        width: 16px;
        fill: $mediumGrey;
    }
    &__name{
        color: $mediumGrey;
        font-size: $font12;
    }
}
.job-watch{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space4;
    font-size: 10px;
    color: $mediumGrey;
    &__icon{
        width: $space14;
    }
}

.job-companies{
    @include container;
    &__region{}
    &__list{
        padding-top: $space40;
    }
}

.region-form{
    padding-top: $space20;
    @media screen and ($notebook) {
        padding-top: $space24;
    }
    &__title{
        margin-bottom: $space8;
        font-size: $font14;
        font-weight: 500;
        color: $textGrey;
    }
    &__input{
        display: block;
        margin-bottom: $space8;
        width: 100%;
        max-width: 320px;
        @include input;
        @media screen and ($notebook) {
            margin-bottom: $space12;
        }
    }
}
.companies-list{
    &__title{
        margin: 0;
        font-size: $font18;
        font-weight: 500;
        color: $textGrey;
    }
    &__letters{
        padding-top: $space16;
        @media screen and ($notebook) {
            padding-top: $space24;
        }
    }
    &__list{
        padding-top: $space16;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $space10;
        row-gap: $space12;
        @media screen and ($notebook) {
            padding-top: $space24;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and ($medium) {
            padding-top: $space50;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    &__item{
        width: fit-content;
        color: $textGrey;
        font-size: $font18;
        line-height: 1.5;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &--count{
            color: $mediumGrey;
            font-size: $font14;
            letter-spacing: 0.15px;
        }
    }
    &__pagination{
        padding-top: $space20;
        margin-left: auto;
        margin-right: auto;
        @media screen and ($notebook) {
            padding-top: $space40;
            margin-left: 0;
            margin-right: 0;

        }
    }
}
.companies-letters{
    @include flex(row, wrap, flex-start, center);
    &__link{
        position: relative;
        width: $space24;
        height: $space24;
        text-align: center;
        line-height: $space24;
        font-weight: 600;
        font-size: $font18;
        text-decoration: none;
        background: $blueGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            opacity: 0;
            visibility: hidden;
            background: $blueGradient;
            transition: $transition;
        }
        &:hover::after{
            opacity: 1;
            visibility: visible;
        }
    }
}