.news-page{
    padding-top: $space30;
    padding-bottom: $space40;
    &__title{
        margin-top: 0;
        margin-bottom: $space20;
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        @media screen and ($tablet) {
            margin-bottom: $space24;
            padding-left: 0;
            padding-right: 0;
        }
        &--single{
            @media screen and ($tablet) {
                display: none;
            }
        }
    }
    &__hero{
        @media screen and ($tablet) {
            padding-left: $tabletCon;
            padding-right: $tabletCon;
        }
        @media screen and ($notebook) {
            padding-left: $notebookCon;
            padding-right: $notebookCon;
        }
        @media screen and ($medium) {
            padding-left: $mediumCon;
            padding-right: $mediumCon;
        }
        @media screen and ($desktop) {
            padding-left: $desktopCon;
            padding-right: $desktopCon;
        }
    }
    &__list{
        padding-top: $space20;
        @include container;
        @media screen and ($notebook) {
            padding-top: $space40;
        }
        @media screen and ($medium) {
            padding-top: $space50;
        }
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $space16;
        @media screen and ($tablet) {
            grid-template-columns: 1fr 1fr;
            column-gap: $space15;
            row-gap: $space30;
        }
        @media screen and ($medium) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: $space22;
            row-gap: $space40;
        }
        @media screen and ($desktop) {
            column-gap: $space28;
            row-gap: $space50;
        }
    }
    &__pagination{
        padding-top: $space40;
    }
}
.news-hero{
    position: relative;
    @media screen and ($notebook) {
        height: 500px;
        @include flex(column, nowrap, flex-end, flex-start)
    }
    &__preview{
        height: 250px;
        @media screen and ($notebook) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
        }
        &::after{
            @media screen and ($notebook) {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: linear-gradient(3.21deg, rgba(255, 255, 255, 0.9) 28.68%, rgba(255, 255, 255, 0) 97.64%);
            }
        }
    }
    &__pic{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__descr{
        padding: 20px;
        @media screen and ($notebook) {
            position: relative;
            z-index: 5;
            padding: 0 25px 40px;
        }
        
    }
    &__title{
        margin-bottom: $space8;
        font-size: $font18;
        font-weight: 500;
        color: $black;
        max-width: 510px;
        @media screen and ($tablet) {
            margin-bottom: $space12;
            font-size: 26px;
        }
        @media screen and ($notebook) {
            margin-bottom: $space20;
        }

    }
    &__additional{
        @media screen and ($notebook) {
            @include flex(row, nowrap, space-between, center);
            column-gap: $space30;
        }
    }
    &__text{
        max-height: 100px;
        margin-bottom: $space20;
        max-width: 945px;
        overflow: hidden;
        font-size: $font14;
        color: $textGrey;
        @media screen and ($tablet) {
            font-size: $font16;
        }
        @media screen and ($notebook) {
            margin-bottom: 0;
        }

    }
    &__link{
        display: block;
        width: 100%;
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space15 0;
        @media screen and ($notebook) {
            max-width: 190px;
        }
    }
}
.single-article{
    &__content{
        @include container;
        h2, h3, h4, h5{
            margin-top: $space40;
            margin-bottom: $space24;
            font-size: $font18;
            font-weight: 500;
            color: $textGrey;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }
        p{
            @include text;
            color: $textGrey;
            & + p{
                margin-top: $space20;
            }
        }
    }
}