.registration-page{
    padding-top: $space20;
    padding-bottom: $space40;
    @include container;
    @media screen and ($tablet) {
        padding-top: $space30;
    }
    &__title{
        margin: 0 0 $space20;
        max-width: 550px;
        @include page-title;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
        &--employer{
            max-width: 700px;
        }
        &--promote{
            
        }
    }
    &__cv{
        margin-bottom: 0 0 $space4;
        font-size: $font12;
        color: $mediumGrey;
        @media screen and ($tablet) {
            margin-bottom: $space4;
        }
    }
    &__subtitle{
        margin-bottom: $space20;
        font-size: $font18;
        color: $textGrey;
        @media screen and ($tablet) {
            font-size: $font20;
            
        }
        @media screen and ($notebook) {
            margin-bottom: $space50;
            font-size: 24px;
        }
    }
    &__success{
        margin: 0 0 $space20;
        font-size: $font18;
        @include colorGradient;
        background-image: $greenGradient;
        @media screen and ($tablet) {
            margin-bottom: 120px;
            max-width: 975px;
            font-size: 24px;
        }
        &--employer{
            @media screen and ($tablet) {
                margin-bottom: $space20;
            }

        }
    }
}

.registration-step{
    @media screen and ($notebook) {
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space20;
    }
    & + &{
        margin-top: $space20;
        @media screen and ($notebook) {
            margin-top: $space50;
        }
    }
    &--login{
        margin-top: $space20;
        & + {
            @media screen and ($notebook) {
                margin-top: 25px;
            }
        }
    }
    &--social{
        text-align: center;
        @media screen and ($notebook) {
            text-align: start;
        }
    }
    &__name{
        font-size: $font16;
        color: $textGrey;
        @media screen and ($notebook) {
            flex-shrink: 0;
            flex-grow: 1;
            max-width: 220px;
        }
        &--big{
            font-size: $font18;
        }
        &--login{
            font-size: $font12;
        }
        &--social{
            font-size: $font14;
        }
        &--employer{
            font-weight: 500;
            @media screen and ($notebook) {
                padding-right: $space24;
            }
        }
    }
    &__controls{
        margin-top: $space12;
        @media screen and ($notebook) {
            margin-top: 0;
            flex-shrink: 0;
            flex-grow: 1;
            max-width: 325px;
        }
        &--form{
            @media screen and ($desktop) {
                @include flex(row, wrap, flex-start, center);
                column-gap: $space20;
                max-width: unset;
            }
            .search-form{
                @media screen and ($notebook) {
                    width: 440px;
                }
            }
        }
        &--login{
            margin-top: 0;
            @media screen and ($notebook) {
                max-width: unset;
            }
        }
    }
    &__descr{
        margin-top: $space20;
        font-size: $font12;
        color: $mediumGrey;
        @media screen and ($desktop) {
            margin-top: 0;
            flex-grow: 0;
            flex-shrink: 1;
            max-width: 600px;
        }
    }
    &__form{
        max-width: 380px
    }
    &__input{
        width: 100%;
        @include input;
        padding: $space14 $space16;
        @media screen and ($tablet) {
            max-width: 220px;
        }
    }
    &__submit{
        display: block;
        width: 100%;
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space14 0;
        @media screen and ($tablet) {
            width: fit-content;
            padding-left: $space50;
            padding-right: $space50;
        }
    }
}

.login-block{
    @include flex(row, nowrap, space-between, center);
    font-size: $font12;
    color: $textGrey;
    @media screen and ($notebook) {
        justify-content: flex-start;
    }
    &--mobile{
        @media screen and ($notebook) {
            display: none;
        }
    }
    &--desktop{
        display: none;
        @media screen and ($notebook) {
            display: flex;
        }
    }
    &--sent{
        @media screen and ($notebook) {
            margin-top: $space50;
        }
    }
    &--login{
        margin-top: $space8;
        @media screen and ($notebook) {
            margin-top: 0;
        }
    }
    &__link{
        @include linkGradient;
    }
}

.social-registration{
    &__container{
        @include flex(row, nowrap, center, center);
        column-gap: $space10;
        @media screen and ($notebook) {
            justify-content: flex-start;
        }
    }
    &__link{
        display: block;
        width: 26px;
        height: 26px;
        padding: 1px;
        border-radius: $space8;
        background-image: $blueGradient;
        // transition: $transition;
        &:hover{
            background-image: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
            .social-registration__link-container{
                background-color: transparent;
            }
        }
    }
    &__link-container{
        display: inline-block;
        border-radius: $space8;
        background-color: $white;
        // transition: $transition;
        line-height: 0;
    }
    &__icon{
        width: 100%;
    }
}

.registration-sent{
    margin-bottom: $space20;
    @media screen and ($tablet) {
        margin-bottom: 0;
    }
    &__title{
        margin-bottom: $space8;
        font-weight: 500;
        font-size: $font18;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-bottom: $space10;
        }
    }
    &__descr{
        margin-bottom: $space20;
        font-size: $font14;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-bottom: $space24;
        }
    }
    &__form{
        max-width: 380px;
    }
}

.create-cv{
    &__fill{
        margin-bottom: $space8;
        @include colorGradient;
        background-image: $blueGradient;
        font-size: $font18;
        @media screen and ($tablet) {
            margin-bottom: $space10;
            font-size: 25px;
        }
    }
    &__note{
        margin-bottom: $space20;
        color: $textGrey;
        font-size: $font14;
        @media screen and ($tablet) {
            margin-bottom: 60px;
        }
    }
    &__form{}
}
.cv-form{
    &__step{
        & + &{
            margin-top: $space16;
            @media screen and ($tablet) {
                margin-top: $space50;
            }
        }
        & + &--final{
            margin-top: $space40;
            @media screen and ($tablet) {
                margin-top: $space24;
            }
        }
        
    }
    &__input{
        width: 100%;
        @include input;
        padding: $space14 $space16;
        &:disabled{
            border-color: transparent;
            color: $black;
        }
    }
    &__submit{
        width: 100%;
        padding: $space14 0;
        @extend .btn-round;
        @extend .btn-round--gradient;
        @media screen and ($tablet) {
            padding: $space14 $space50;
            width: fit-content;
        }
    }
}
.cv-step{
    position: relative;
    max-width: 790px;
    @media screen and ($tablet) {
        @include flex(row, nowrap, flex-start, flex-start);
        column-gap: $space10;
    }
    &--descr{
        max-width: unset;
        @media screen and ($tablet) {
            flex-wrap: wrap;
        }
        @media screen and ($notebook) {
           flex-wrap: nowrap;
            column-gap: $space50;
        }
    }
    &--upload{
        align-items: center;
    }
    &__name{
        margin-bottom: $space8;
        color: $textGrey;
        font-size: $font16;
        @media screen and ($tablet) {
            flex: 0 0 290px;
            margin-bottom: 0;
            padding-top: $space10;
            font-size: $font18;
        }
        &--final{
            @media screen and ($tablet) {
                padding-top: 0;
            }
        }
    }
    &__controls{
        @media screen and ($tablet) {
            flex: 0 0 220px
        }
        &--descr{
            @media screen and ($tablet) {
                flex-grow: 1;
                max-width: 580px;
            }
        }
        &--file{
            @include flex(row, nowrap, flex-start, flex-start);
            column-gap: $space8;
            @media screen and ($tablet) {
                flex-grow: 1;
                max-width: 290px;
            }
        }
        &--benefits{
            max-width: 880px;
            @media screen and ($tablet) {
                flex-grow: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: $space20;
                row-gap: $space10;
            }
            @media screen and ($notebook) {
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: $space50;
                row-gap: 25px;
            }
        }
    }
    &__edit{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__edit-icon{
        width: $space12;
        fill: $black;
    }
    &__label{
        @include flex(row, nowrap, flex-start, center);
        column-gap: 15px;
        padding-left: 5px;
        font-size: 14px;
        color: $textGrey;
        cursor: pointer;
        &:hover{
            .checkbox::after,
            .radio::after{
                visibility: visible;
                background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
            }
        }
        & + &{
            margin-top: $space8;
        }
    }
    &__tags-list{
        margin-top: $space4;
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space10;
    }
    &__tag{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space5;
        color: $mediumGrey;
        font-size: 10px;
    }
    &__remove-tag{
        width: $space14;
        fill: $mediumGrey;
    }
    &__descr{
        padding-top: $space20;
        max-width: 270px;
        font-size: $font12;
        color: $mediumGrey;
        @media screen and ($tablet) {
            padding-top: 0;
        }
    }
    &__text{
    }
    &__list{
        margin-top: $space15;
        padding-left: $space20;
    }
    &__list-item{
        & + &{
            margin-top: $space5;
        }
    }
    &__link{
        @include linkGradient;
        font-size: $font14;
        text-transform: uppercase
    }
    &__benefit{
        @include flex(row, nowrap, flex-start, center);
        column-gap: 15px;
        padding-left: 5px;
        cursor: pointer;
        &:hover{
            .checkbox::after,
            .radio::after{
                visibility: visible;
                background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
            }
        }
        & + &{
            margin-top: $space16;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}
.cv-final{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space10;
    &__icon{
        width: $space40;
        @media screen and ($tablet) {
            width: 45px;
        }
    }
    &__text{
        font-size: $font14;
        color: $mediumGrey;
    }
}
.top-offers{
    max-width: 1095px;
    &__title{
        margin: 0 0 $space20;
        @include subtitle;
        @media screen and ($tablet) {
            margin-bottom: $space50;
        }
    }
    &__card{
        & + &{
            margin-top: $space12;
            @media screen and ($tablet) {
                margin-top: $space24;
            }
        }
    }
}
.login-form{
    &__input{
        @include input;
        display: block;
        width: 100%;
        padding: $space14 $space16;
        @media screen and ($notebook) {
            max-width: 325px;
        }
        &--password{
            margin-bottom: $space8;
        }
    }
    &__link{
        @include link;
        font-size: $font12;
        color: $mediumGrey;
    }
    &__container{
        @media screen and ($notebook) {
            margin-top: $space24;
            @include flex();
            justify-content: flex-start;
            column-gap: $space5;
        }
    }
    &__submit{
        margin-top: $space20;
        @extend .btn-round;
        @extend .btn-round--gradient;
        display: block;
        width: 100%;
        padding: $space14;
        @media screen and ($notebook) {
            max-width: 325px;
            width: fit-content;
            margin-top: 0;
            padding: $space14 $space50;
        }
    }
}
.registration-descr{
    margin-bottom: $space20;
    @media screen and ($notebook) {
        max-width: 440px;
        margin-bottom: $space50;
    }
    &__text{
        margin-bottom: 25px;
        font-size: $font16;
        color: $textGrey;
        line-height: 1.4;
    }
    &__container{
        @include flex(column, nowrap, flex-start, flex-start);
        row-gap: $space12;
        @media screen and ($notebook) {
            flex-direction: row;
            column-gap: $space15;
        }
    }
    &__link{
        @extend .btn-round;
        width: 100%;
        display: block;
        font-size: $font16;
        @media screen and ($notebook) {
            width: fit-content;
            padding: $space15 0;
            flex: 1 0 45%;
        }
        &--post{
            @extend .btn-round--gradient;
        }
        &--browse{
            @extend .btn-round--grey;
        }
    }
}