.send-cv{
    padding-top: $space20;
    padding-bottom: $space40;
    @include container;
    max-width: 1085px;
    @media screen and ($notebook) {
        padding-top: $space30;
        padding-bottom: 140px;
    }
    &__title{
        margin: 0 0 $space20;
        @include page-title;
        max-width: 750px;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__descr{
        margin: 0 0 $space40;
        @include text16;
        color: $textGrey;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__card{
        margin-bottom: $space40;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__info{
        @media screen and ($notebook) {
            column-gap: $space50;
        }
        & + &{
            margin-top: $space20;
            @media screen and ($notebook) {
                margin-top: $space50;
            }
        }

    }
    &__name{
        @media screen and ($notebook) {
            max-width: 170px;
        }
    }
    &__controls{
        margin-top: $space40;
        @media screen and ($notebook) {
            @include flex($just: flex-start);
        }
    }
    &__btn{
        display: block;
        width: 100%;
        @extend .btn-round;
        padding: $space15;
        font-size: $font16;
        @media screen and ($notebook) {
            width: fit-content;
            padding: $space15 $space50;
        }
        & + &{
            margin-top: $space12;
            @media screen and ($notebook) {
                margin-top: 0;
                margin-left: $space15;
            }
        }
        &--apply{
            @extend .btn-round--gradient;
        }
        &--cancel{
            @extend .btn-round--grey;
        }
    }
}