.active-search{
    // @include container;
    padding-top: $space40;
    overflow: hidden;
    @media screen and ($tablet) {
        padding-left: $tabletCon;
        padding-right: $tabletCon;
    }
    @media screen and ($notebook) {
        padding-top: 68px;
        padding-left: $notebookCon;
        padding-right: $notebookCon;
    }
    @media screen and ($medium) {
        padding-top: 88px;
        padding-left: $mediumCon;
        padding-right: $mediumCon;
    }
    @media screen and ($desktop) {
        padding-top: 128px;
        padding-left: $desktopCon;
        padding-right: $desktopCon;
    }
    &__title{
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        padding-bottom: $space16;
        @include subtitle;
        color: $black;
        @media screen and ($tablet) {
            padding-left: 0;
            padding-right: 0;
        }
        @media screen and ($notebook) {
            padding-bottom: $space24;
        }
        @media screen and ($medium) {
            padding-bottom: $space32;
        }
        @media screen and ($desktop) {
            padding-bottom: $space50;
        }
    }
    &__list{
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        padding-bottom: $space20;
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space10;
        overflow-x: scroll;
        @media screen and ($tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $space10;
            padding-left: 0;
            padding-right: 0;
        }
        @media screen and ($notebook) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: $space28;
        }
        @media screen and ($medium) {
            column-gap: $space28;
            row-gap: $space34;
        }

    }
    &__item{
        flex: 0 0 100%;
        @media screen and ($tablet) {
        }
    }
}