.callback{
    padding-top: $space40;
    padding-bottom: $space40;
    @media screen and ($tablet) {
        padding-left: $tabletCon;
        padding-right: $tabletCon;
    }
    @media screen and ($notebook) {
        padding-left: $notebookCon;
        padding-right: $notebookCon;
    }
    @media screen and ($medium) {
        padding-left: $mediumCon;
        padding-right: $mediumCon;
    }
    @media screen and ($desktop) {
        padding-left: $desktopCon;
        padding-right: $desktopCon;
    }
    &__container{
        position: relative;
        z-index: 1;
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
        @media screen and ($tablet) {
            @include flex(row, nowrap, space-between, center);
            column-gap: $space20;
        }
    }
    &__info{
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.2) 0%, rgba(156, 217, 255, 0.2) 102.22%);
        box-shadow: 3px 2px 15px rgba(219, 219, 219, 0.25);
        border-radius: 15px;
        overflow: hidden;
        @media screen and ($desktop) {
            padding-top: 110px;
            padding-bottom: 110px;
        }
    }
    &__pic{
        position: absolute;
        &--1{
            width: 245px;
            left: 3px;
            top: -2px;
            @media screen and ($tablet) {
                // top: ;
            }
            @media screen and ($notebook) {
                top: 110px;
                left: unset;
                right: -120px;
                width: 410px;
                -webkit-transform: rotate(68deg);
                -ms-transform: rotate(68deg);
                transform: rotate(-13deg);
            }
            @media screen and ($desktop) {
                top: 25px;
                left: unset;
                right: -120px;
                width: 460px;
                transform: rotate(68deg);
            }
            
        }
        &--2{
            width: 240px;
            right: -5px;
            top: 200px;
            @media screen and ($tablet) {
                top: 140px;
            }
            @media screen and ($notebook) {
                right: unset;
                transform: rotate(-30deg);
                width: 400px;
                top: -40px;
                left: -110px;
            }
            @media screen and ($desktop) {
                right: unset;
                transform: rotate(-45deg);
                width: 535px;
                top: 30px;
                left: -162px;
            }
            
            
        }
    }
    &__form{
        max-width: 420px;
    }
}
.callback-form{
    @include flex(row, nowrap, flex-start, center);
    border-radius: 25px;
    background-color: $white;
    @media screen and ($tablet) {
        flex-grow: 1;
    }
    &__title{
        margin-bottom: $space12;
        font-size: $font18;
        font-weight: 500;
        color: $textGrey;
        @media screen and ($tablet) {
            margin-bottom: 0;
        }
    }
    &__input{
        display: block;
        flex-grow: 1;
        @include input;
        padding: $space14 $space15;
        font-size: 14px;
        border: none;
    }
    &__submit{
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space14 $space20;
        font-size: $font14;
        @media screen and ($notebook) {
            padding: $space14 $space50;
        }
    }
}