.category{
    @include container;
    padding-top: $space20;
    @media screen and ($tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space12;
        padding-bottom: $space20;
    }
    @media screen and ($notebook) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $space20;
        padding-bottom: $space24;
    }
    @media screen and ($medium) {
        padding-top: $space32;
        padding-bottom: $space32;
        gap: $space24;
    }
    @media screen and ($desktop) {
        padding-top: $space40;
        padding-bottom: $space34;

    }

    &__link{
        & + &{
            margin-top: $space12;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}
.category-item{
    padding: $space12;
    @include flex(row, nowrap, flex-start, flex-start);
    column-gap: $space12;
    border: 1px solid $lightGrey;
    border-radius: $space20;
    background-color: $white;
    text-decoration: none;
    &:hover{
        // border: 1px solid;
        // border-image-slice: 1;
        // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
    @media screen and ($notebook) {
        column-gap: $space20;
    }
    @media screen and ($desktop) {
        padding-top: $space28;
        padding-bottom: $space20;
        padding-left: $space16;
        padding-right: $space16;
    }

    &__icon{
        width: 32px;
        flex-shrink: 0;
        @media screen and ($notebook) {
            width: 50px;
        }
    }
    &__title{
        display: block;
        padding-bottom: $space4;
        @include h4;
        color: $textGrey;
        line-height: 1.4;
        @media screen and ($notebook) {
            max-width: 130px;
            padding-bottom: $space12;
            font-size: $font20;
        }
    }
    &__counter{
        color: $mediumGrey;
        font-size: $font14;
    }
}