.find-employees{
    @include container;
    padding-left: 0;
    padding-right: 0;
    padding-top: $space20;
    @media screen and ($notebook) {
        padding-top: $space50;
        @include flex(row-reverse, nowrap, space-between, flex-start);
    }
    @media screen and ($medium) {
        padding-top: 100px;
    }
    @media screen and ($desktop) {
        padding-top: 130px;
    }
    &__pic{
        width: 100%;
    }
    &__descr{
        padding-left: $mobileCon;
        padding-right: $mobileCon;
        padding-top: $space20;
        @media screen and ($tablet) {
            padding-left: 0;
            padding-right: 0;
            max-width: 600px;
        }
    }
}
.find-text{
    &__title{
        @include subtitle;
        padding-bottom: $space20;
        color: $black;
        @media screen and ($tablet) {
            padding-bottom: $space32;
        }
        @media screen and ($notebook) {
            padding-bottom: $space50;
        }
    }
    &__text{
        @include text;
        color: $textGrey;
    }
    &__container{
        padding-top: $space20;
        @media screen and ($tablet) {
            padding-top: $space32;
        }
        @media screen and ($notebook) {
            padding-top: $space50;
            @include flex(row, nowrap, flex-start, center);
            column-gap: $space15;
        }

    }
    &__link{
        display: block;
        width: 100%;
        @extend .btn-round;
        padding-top: $space15;
        padding-bottom: $space15;
        @media screen and ($tablet) {
            width: fit-content;
        }
        &--search{
            @extend .btn-round--gradient;
            @media screen and ($tablet) {
                padding-left: $space50;
                padding-right: $space50;
            }
        }
        &--post{
            @extend .btn-round--grey;
            @media screen and ($tablet) {
                padding-left: $space24;
                padding-right: $space24;
            }
        }
        & + &{
            margin-top: $space12;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}