.footer{
    @include container;
    padding-top: $space16;
    padding-left: $space16;
    background-color: $whiteBg;
    @media screen and ($tablet) {
        @include flex(row, wrap, space-between, flex-start);
        padding-top: $space20;
        padding-bottom: $space20;
    }
    @media screen and ($notebook) {
        padding-top: $space24;
        padding-bottom: $space24;
    }
    @media screen and ($medium) {
    }
    @media screen and ($desktop) {
        // padding: 50px calc((100vw - var(--desktopCon))) 18px;
        padding-top: $space50;
        padding-bottom: $space18;
    }

    &__info{
        @media screen and ($medium) {
            max-width: 1100px;
            flex-grow: 1;
        }
    }
    &__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space16;
        padding-top: $space16;
        @media screen and ($tablet) {
            padding-bottom: $space16;
            grid-template-areas: 
                "about employees employers"
                "news employees employers";
            grid-template-rows: $space50 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: $space24;
        }
        @media screen and ($medium) {
            padding-top: $space40;
            grid-template-columns: 320px 320px 320px;
            grid-template-rows: 70px 1fr;
        }
    }
    &__copy{
        padding-top: $space16;
        @media screen and ($tablet) {
            flex: 1 0 100%;
        }
        @media screen and ($notebook) {
            padding-top: $space20;
        }
        @media screen and ($medium) {
            padding-top: $space24;
            margin-top: 100px;
        }
        @media screen and ($desktop) {
            padding-top: $space32;
            margin-top: 180px;
        }
    }
}

.footer-logo{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space8;
    &__logo{
        width: 49px;
    }
    &__pic{
        width: 100%;
    }
    &__name{
        font-weight: 500;
        font-size: $font20;
        color: $textGrey;
    }
}

.footer-nav{
    &--about{
        @media screen and ($tablet) {
            grid-area: about;
        }
        @media screen and ($medium) {
            padding-top: $space8;
        }
    }
    &--news{
        @media screen and ($tablet) {
            grid-area: news;
        }
    }
    &--employees{
        @media screen and ($tablet) {
            grid-area: employees;
        }
    }
    &--employers{
        @media screen and ($tablet) {
            grid-area: employers;
        }
    }
    &__link{
        display: block;
        width: fit-content;
        font-size: $font14;
        @include link;
        &--name{
            font-size: $font16;
            font-weight: 500;
        }
        & + &{
            margin-top: $space8;
            @media screen and ($tablet) {
                margin-top: $space12;
            }
        }
    }
}

.footer-social{
    @include flex(row, nowrap, center, center);
    gap: $space8;
    padding-top: $space16;
    padding-bottom: $space16;
    @media screen and ($notebook) {
        padding-top: $space10;
        padding-bottom: 0;
    }
    &__link{
        flex-grow: 1;
        max-width: 180px;
        padding-top: $space4;
        padding-bottom: $space4;
        text-align: center;
        border-radius: 14px;
        border: 1px solid #D4D7D9;
        line-height: 0;
        transition: $transition;
        @media screen and ($tablet) {
            padding-left: $space16;
            padding-right: $space16;
        }
    }
    &__icon{
        fill: $textGrey;
        width: 20px;
        transition: $transition;
    }
}

.footer-copy{
    border-top: 1px solid $textGrey;
    &__name{
        @include text14;
        color: $textGrey;
    }
    &__text{
        padding-top: $space4;
        font-size: $font12;
        line-height: 20px;
        color: $textGrey;
        @media screen and ($notebook) {
            padding-top: $space4;
        }
    }
}