.header{
    position: relative;
    &--open{
        .menu-btn{
            &__icon--open{
            }
            &__icon--close{
                visibility: visible;
                opacity: 1;
                display: block;
            }
            &__line{
                height: 1.5px;
                &--1{
                    transform: rotate(45deg);
                    transform-origin: 6.5px 9.5px;
                }
                &--2{
                    transform: rotate(45deg);
                    transform-origin: 12.5px 12.5px;
                }
                &--3{
                    transform: translate(-9px, 1.5px) rotate(45deg);
                    // transform-origin: right bottom;
                    transform-origin: 100% 100%;
                }
            }
        }
        .header__main-nav{
            display: block;
        }
    }
    &--location{
        .header__menu-location{
            display: block;
        }
    }
    &--employee{
        .header__nav--employee{}
        .header__nav--employer{
            display: none;
        }
    }
    &--employer{
        .header__nav--employee{
            display: none;
        }
        .header__info--desktop{
            background-color: $textGrey;
        }
    }
    &--search{
        .header__info--desktop{
            background-color: $textGrey;
        }
    }
    &__logo{
        display: inline-block;
        flex-shrink: 0;
        &--mobile{
            @media screen and ($tablet) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            margin-right: auto;
            order: 0;
            @media screen and ($tablet) {
                display: block;
            }
        }
        &--auth{
            margin-right: 0;
        }
    }
    &__info{
        padding-top: $space10;
        padding-bottom: $space10;
        @include flex(row, nowrap, space-between, center);
        column-gap: $space10;
        @include container;
        &--top{
            position: relative;
            @media screen and ($tablet) {
                column-gap: $space15;
                padding-top: $space15;
                padding-bottom: $space15;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($tablet) {
                display: flex;
                column-gap: $space5;
            }
            @media screen and ($notebook) {
            }
            @media screen and ($medium) {
            }
            @media screen and ($desktop) {
            }
        }
        &--mobile{
            display: flex;
            @media screen and ($tablet) {
                display: none;
            }
        }
        &--auth{
            column-gap: $space24;
            justify-content: flex-start;
            background-color: $textGrey;
        }
    }
    &__nav{
        display: none;
        @media screen and ($notebook) {
            display: block;
            margin-left: auto;
        }
    }
    &__link{
        flex-grow: 1;
        flex-shrink: 0;
        @media screen and ($tablet) {
            display: none;
        }
        &--mobile{
            display: block;
            @media screen and ($tablet) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($tablet) {
                display: block;
                padding-left: $space20;
                padding-right: $space20;
                flex-grow: 0;
            }
        }
    }
    &__switch{
        &--desktop{
            display: none;
            @media screen and ($tablet) {
                @include flex(row, nowrap, flex-start, center);
                column-gap: $space6;   
            }
            @media screen and ($notebook) {
                column-gap: $space12;
            }
            @media screen and ($medium) {
                column-gap: $space24;
            }
        }
    }
    &__main-nav{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        @media screen and ($notebook) {
            top: 95%;
        }
    }
    &__menu-location{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        @media screen and ($notebook) {
            // top: 95%;
        }
    }
}
.header-link{
    @extend .btn-round;
    font-weight: 600;
    font-size: $font14;
    text-align: center;
    color: $white;
    text-decoration: none;
    &--auth{
        background: $lightGrey;
        @media screen and ($tablet) {
            order: 2;
        }

    }
    &--create{
        background: $blueGradient;
        @media screen and ($tablet) {
            order: 1;
        }

    }
}
.logo{
    width: 40px;
    // height: 40px;
    @media screen and ($tablet) {
        width: 50px;
    }
    &__pic{
        width: 100%;
        height: 100%;
    }
}
.menu-btn{
    position: relative;
    z-index: 10;
    padding: $space8;
    border-radius: 50%;
    background: $blueGradient;
    &__icon{
        width: 25px;
        visibility: hidden;
        opacity: 0;
        fill: #fff;
        transition: $transition;
        &--open{
            display: block;
            visibility: visible;
            opacity: 1;
        }
        &--close{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
            visibility: hidden;
            opacity: 1;
        }
    }
    &__line{
        width: 18px;
        height: 2px;
        transition: $transition;
    }
    
}
.location{
    &__icon{
        width: 18px;
    }
}
.type-switch{
    &__switch{}
}
.switch{
    &__label{
        position: relative;
        @include flex(row, nowrap, flex-start, center);
        padding: $space8 0;
        column-gap: $space12;
        cursor: pointer;
        @media screen and ($tablet) {
            padding: 0;
        }
    }
    &__input{
        position: absolute;
        top: -9999px;
        left: -9999px;
        // opacity: 0;
        // visibility: hidden;
        & ~ .switch__name--look{
            display: block;
        }
        & ~ .switch__name--employ{
            display: none;
        }
        &:checked + .switch__marker::after{
            right: -3px;
            left: unset;
            background: $blueGradient;
        }
        &:checked ~ .switch__name--look{
            display: none;
        }
        &:checked ~ .switch__name--employ{
            display: block;
        }
    }
    &__marker{
        position: relative;
        width: 34px;
        height: 14px;
        background-color: $lightGrey;
        border-radius: $space10;
        transition: $transition;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: -3px;
            transform: translate(0, -50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $greenGradient;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        }
    }
    &__name{
        &--look{
            background: $greenGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        &--employ{
            background: $blueGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}
.location{
    &:hover{
        .location__icon{
        }
    }
    &__btn{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space4;
        width: fit-content;
        padding: 3px 0;
        border-bottom: 1px dotted $textGrey;
        background: transparent;
        @include link;
        font-size: $font16;
    }
    &__icon{
        width: 18px;
        // градиент
        fill: currentColor;
    }
    &__name{}
}
.top-nav{
    &__list{
        @include flex(row, nowrap, flex-start, center);
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and ($tablet) {
            column-gap: $space4;
        }
        @media screen and ($notebook) {
            column-gap: $space16;
        }
        @media screen and ($medium) {
            column-gap: $space32;
        }
        @media screen and ($desktop) {}
    }
    &__link{
        @include link;
        font-size: $space16;
        &--auth{
            color: $white;
        }
    }
    &--auth{
        display: none;
        @media screen and ($notebook) {
            display: block;
            margin-right: auto;
        }

    }
}
.auth-block{
    @include flex(row, nowrap, flex-start, center);
    column-gap: $space5;
    &__nav{
        @include flex(row, nowrap, flex-start, center);
    }
    &__input{
        flex: 1 0 180px;
        @include input;
        padding: 3px 10px;
        background-color: $mediumGrey;
        border: none;
        color: $white;
        font-size: $font14; 
        line-height: 1.5;
        &:focus,
        &::placeholder{
            color: $white;
        }
        @media screen and ($notebook) {
            flex-basis: auto;
        }
        &--employer{
            flex-basis: 150px;
        }
    }
}
.auth-link{
    position: relative;
    padding: $space6;
    line-height: 0;
    text-decoration: none;
    &__marker{
        position: absolute;
        top: 0;
        right: 0;
        width: $space10;
        height: $space10;
        background-image: $greenGradient;
        border-radius: 50%;
    }
    &__icon{
        width: $space24;
    }
}
.main-nav{
    @include container;
    padding-top: $space20;
    padding-bottom: $space40;
    background-color: $white;
    // background-color: tomato;
    @media screen and ($notebook) {
        padding-top: $space40;
    }
    &__title{
        text-transform: uppercase;
        font-size: $font16;
        @include colorGradient;
        background-image: $blueGradient;
        @media screen and ($notebook) {
            display: none;
        }
    }
    &__search{
        display: none;
        max-width: 810px;
        @media screen and ($notebook) {
            display: block;
        }
    }
    &__container{
        margin-top: $space50;
        @media screen and ($notebook) {
            margin-top: 84px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 665px;
            column-gap: 25px;
            row-gap: $space40;
        }
    }
    &__item{
        & + &{
            margin-top: $space20;
            @media screen and ($notebook) {
                margin-top: 0;
            }
        }
    }
}
.basic-nav{
    &__title{
        margin-bottom: $space16;
        font-weight: 500;
        font-size: 24px;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        & + &{
            margin-top: $space15;
        }
    }
    &__link{
        @include link;
        font-size: $font18;
    }
}