.hero{
    @include container;
    padding-top: 190px;
    padding-bottom: 190px;
    background-image: url(../images/hero-bg-m.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and ($desktop) {
        margin-top: -70px;
        padding-top: 256px;
        padding-bottom: 256px;
    }
    &--employee{
    }
    &--info{

    }
    &__info{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    &__title{
        margin: 0;
        margin-bottom: $space20;
        @include h3;
        @media screen and ($medium) {
            margin-bottom: $space24;
        }
        @media screen and ($desktop) {
            margin-bottom: $space32;
            @include h1;
        }
    }
}