.how-start{
    @include container;
    padding-top: $space40;
    &__title{
        padding-bottom: $space32;
        @include subtitle;
        color: $black;
        @media screen and ($tablet) {
            padding-bottom: $space50;
        }
        @media screen and ($medium) {
            padding-bottom: 75px;
        }
    }
    &__list{
        padding-top: $space16;
        @media screen and ($tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: $space12;
            row-gap: $space32;
        }
        @media screen and ($notebook) {
            padding-top: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 26px;

        }
    }
    &__item{
        & + & {
            margin-top: $space32;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}
.start-item{
    position: relative;
    padding: $space30 45px;
    background: linear-gradient(102.04deg, rgba(187, 159, 255, 0.02) 0%, rgba(156, 217, 255, 0.02) 108.61%);
    border: 1px solid $lightGrey;
    box-shadow: 0px 0px 15px rgba(180, 180, 180, 0.11);
    @media screen and ($notebook) {
        padding: 55px 35px 40px;
    }
    @media screen and ($medium) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    &__number{
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: $space32;
        height: $space32;
        border-radius: 50%;
        font-size: 21px;
        line-height: $space32;
        text-align: center;
        font-weight: 700;
        color: $white;
        background-image: $blueGradient;
        @media screen and ($notebook) {
            top: -25px;
            width: $space50;
            height: $space50;
            line-height: $space50;
        }
    }
    &__title{
        padding-bottom: $space12;
        color: $textGrey;
        font-size: $font18;
        text-align: center;
    }
    &__text{
        font-size: $font14;
        line-height: 1.4;
        color: $textGrey;
        text-align: center;
    }
}