.index-descr{
    @include container;
    padding-top: $space40;
    &__title{
        margin-bottom: $space16;
        @include subtitle;
        @media screen and ($desktop) {
            margin-bottom: $space30;
        }
    }
    &__text{
        @include text;
        & + &{
            margin-top: $space20;
            @media screen and ($desktop) {
                margin-top: $space22;
            }
        }
    }
}