.news-page{}

.news-section{
    // @include container;
    padding-top: $space40;
    @media screen and ($notebook) {
        padding-top: $space50;
        padding-bottom: $space50;
    }
    &__title{
        @include container;
        margin-bottom: $space16;
        @include subtitle;
        @media screen and ($notebook) {
            margin-bottom: $space50;
        }

    }
    &__scroll-container{
        overflow-x: scroll;
    }
    &__list{
        @include container;
        @include flex(row, nowrap, flex-start, flex-start);
        column-gap: $space8;
        @media screen and ($tablet) {
            column-gap: $space12;
        }
        @media screen and ($notebook) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: $space16;
        }
        @media screen and ($desktop) {
            column-gap: $space28;

        }
    }
    &__item{
        flex: 1 0 100%;
    }
}

.news-item{
    border-radius: $space15;
    border: 1px solid $lightGrey;
    overflow: hidden;
    &__preview{
        line-height: 0;
    }
    &__info{
        padding: $space16 $space12;
        @media screen and ($desktop) {
            padding: $space34 $space24;
        }
    }
    &__title{
        margin-bottom: $space8;
        font-weight: 500;
        font-size: $font18;
        @media screen and ($desktop) {
            margin-bottom: $space16;
        }
    }
    &__descr{
        max-height: $space40;
        margin-bottom: $space16;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $textGrey;
        font-size: $font14;
        @media screen and ($desktop) {
            margin-bottom: $space20;
        }
    }
    &__link{
        display: inline-block;
        padding: $space8 $space50;
        @extend .btn-round; 
        @extend .btn-round--gradient;
        text-decoration: none; 
        font-size: $font12;
        @media screen and ($desktop) {
            padding: $space15 $space50;
            font-size: $font16;
        }
    }
}