.pagination{
    width: fit-content;
    @include flex(row, nowrap, center, center);
    column-gap: $space12;
    &--center{
        margin-left: auto;
        margin-right: auto;
    }
    &__link{
    }
}
.pagination-link{
    padding: 1px;
    width: $space40;
    height: $space40;
    line-height: $space40;
    border-radius: 10px;
    background: $mediumGrey;
    text-decoration: none;
    &--active{
        background: $blueGradient;
        .pagination-link__inner{
            background-image: linear-gradient(109.27deg, rgba(187, 159, 255, 0.3) 0%, rgba(156, 217, 255, 0.3) 102.22%);
        }
        .pagination-link__text{
            background-image: linear-gradient(109.27deg, #bb9fff 0%, #9cd9ff 102.22%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &:hover{
        .pagination-link__inner{
            background-image: linear-gradient(109.27deg, rgba(187, 159, 255, 0.3) 0%, rgba(156, 217, 255, 0.3) 102.22%);
        }
    }
    &__inner{
        display: block;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 10px;
        font-size: $font14;
        color: $mediumGrey;
        line-height: 40px;
        text-align: center;
        transition: $transition;
    }
    &__text{
        transition: $transition;
    }
}