.plan{
    padding-top: $space40;
    @include container;
    @media screen and ($tablet) {
        padding-top: $space50;
    }
    @media screen and ($notebook) {
        padding-top: 80px;
    }
    @media screen and ($medium) {
        padding-top: 100px;
    }
    &__title{
        padding-bottom: $space16;
        @include subtitle;
        @media screen and ($notebook) {
            display: none;
        }
    }
    &__mobile-list{
        @media screen and ($tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $space16;
        }
        @media screen and ($notebook) {
            display: none;
        }
    }
    &__compare{
        padding-top: $space20;
    }
}
.plans-mobile{
    &__item{
        & + &{
            margin-top: $space12;
        }
    }
}
.plan-mobile-card{
    padding: $space20 $space16;
    border: 1px solid $lightGrey;
    border-radius: 20px;
    &__title{
        padding-bottom: $space8;
        @include colorGradient;
        background-image: $blueGradient;
        font-weight: 500;
        font-size: $font16;
    }
    &__price-old{
        font-size: 10px;
        line-height: 1.5;
        text-decoration: line-through;
        color: $textGrey;
    }
    &__price{
        padding-bottom: $space8;
        font-weight: 500;
        font-size: $font18;
        color: $black;
    }
    &__get{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space8;
        font-size: $font14;
        color: $black;
        & + &{
            margin-top: $space4;
        }
    }
    &__get-icon{
        width: $space24;
    }
    &__pay{
        margin-top: $space20;
        display: block;
        padding-top: $space15;
        padding-bottom: $space15;
        @extend .btn-round;
        background-image: $greenGradient;
    }
}
.plan-compare{
    &__title{
        padding-bottom: $space16;
        font-size: $font18;
        font-weight: 500;
        color: $black;
        @media screen and ($notebook) {
            display: none;
        }
    }
}
.plan-table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    &__tr{
        border-bottom: 1px dashed $mediumGrey;
        &--border{
            @media screen and ($notebook) {
                border-color: $lightGrey;
            }
        }
    }
    &__title{
        display: none;
        font-weight: 500;
        color: $black;
        text-align: start;
        @media screen and ($notebook) {
            display: block;
            font-size: $font20;
        }
        @media screen and ($medium) {
            font-size: 32px;
        }

    }
    &__name{
        padding-top: $space6;
        padding-bottom: $space6;
        text-align: center;
        line-height: 1;
        @include colorGradient;
        background-image: $blueGradient;
        font-size: $font12;
        @media screen and ($tablet) {
            font-size: $font16;
        }
        @media screen and ($notebook) {
            font-size: $font18;
        }
        @media screen and ($medium) {
            padding-top: 28px;
            padding-bottom: 28px;
            font-size: 24px;
        }
        & + &{
            border-left: 1px dashed $mediumGrey;
        }
    }
    &__get{
        padding: $space6 0;
        font-size: $font14;
        color: $black;
        line-height: 1.4;
        @media screen and ($notebook) {
            border-right: 1px dashed $mediumGrey;
        }
        @media screen and ($medium) {
            padding-left: $space30;
        }
        &--border{
            @media screen and ($notebook) {
                border-color: $lightGrey;
            }
        }
        &--price{
            font-weight: 600;
        }
    }
    &__status{
        padding-top: $space6;
        padding-bottom: $space6;
        text-align: center;
        line-height: 0;
        @media screen and ($medium) {
            padding-top: 28px;
            padding-bottom: 28px;
        }
    }
    &__icon{
        width: $space24;
    }
    &__tfoot{
        display: none;
        @media screen and ($notebook) {
            display: table-footer-group;
        }
    }
    &__old-price{
        padding-top: $space6;
        padding-bottom: $space6;
        font-size: $font14;
        color: $textGrey;
        text-decoration: line-through;
        text-align: center;
        @media screen and ($medium) {
            padding-top: 28px;
            padding-bottom: 28px;
        }
        & + &{
            @media screen and ($notebook) {
                border-left: 1px dashed $lightGrey;
            }
        }
    }
    &__price{
        padding-top: $space6;
        padding-bottom: $space6;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        column-rule: $black;
        @media screen and ($medium) {
            padding-top: 28px;
            padding-bottom: 28px;
        }
        & + &{
            @media screen and ($notebook) {
                border-left: 1px dashed $lightGrey;
            }
        }
    }
    &__pay{
        margin-top: $space6;
        margin-bottom: $space6;
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: $space20 $space50;
        @extend .btn-round;
        @extend .btn-round--green;
        border-radius: 60px;
        @media screen and ($medium) {
            margin-top: 28px;
            margin-bottom: 28px;
        }
    }
}
