.profession-list{
    @include container;
    padding-top: $space40;
    @media screen and ($notebook) {
        padding-top: $space50;
        padding-bottom: $space50;
    }
    &__title{
        @include h3;
        margin-bottom: $space16;
        @media screen and ($notebook) {
            margin-bottom: $space50;
            font-size: 26px;
        }
        @media screen and ($medium) {
            font-size: 28px;
        }
    }
}
.profession{
    &__list{
        margin: 0;
        padding: 0;
        @include flex(column, wrap, flex-start, flex-start);
        column-gap: $space4;
        row-gap: $space12;
        list-style: none;
        max-height: 295px;
        @media screen and ($tablet) {
            max-height: 350px;
        }
        @media screen and ($medium) {
            row-gap: $space14;
            column-gap: $space24;
        }
        @media screen and ($desktop) {
            row-gap: $space15;
        }
    }
    &__item{
        // flex-grow: 1;
        // max-width: 50%;
        &:nth-child(n+19){
            display: none;
            @media screen and ($tablet) {
                display: block;
            }
        }
    }
    &__link{
        @include link;
        font-size: 13px;
        @media screen and ($notebook) {
            font-size: $font14;
        }
        @media screen and ($medium) {
            font-size: $font16;
        }
        @media screen and ($desktop) {
            font-size: $font18;
        }

    }
}