.top{
    @include container;
    @media screen and ($notebook) {
        padding-bottom: $space50;
        @include flex(row-reverse, nowrap, space-between, flex-start);
    }
    &__company{
        padding-top: $space40;
        @media screen and ($notebook) {
            flex-grow: 1;
            max-width: 312px;
        }
        @media screen and ($desktop) {
            padding-top: $space50;
            padding-right: $space40;
        }

    }
    &__day{
        padding-top: $space32;
        @media screen and ($notebook) {
            flex-grow: 1;
            max-width: 875px;
        }
        @media screen and ($desktop) {
            padding-top: $space50;
        }

    }
}
.top-company{
    &__title{
        margin-bottom: $space6;
        @include subtitle;
        color: $black;
        @media screen and ($tablet) {
            margin-bottom: $space16;
        }
        @media screen and ($desktop) {
            margin-bottom: 86px;
        }
    }
    &__list{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space8;
        overflow: scroll;
        @media screen and ($notebook) {
            display: block;
        }
    }
    &__item{
        flex-shrink: 0;
        & + &{
            @media screen and ($notebook) {
                margin-top: $space14;
            }
            @media screen and ($desktop) {
            }

        }
    }
}
.top-day{
    &__title{
        margin-bottom: $space16;
        @include h3;
        color: $black;
        @media screen and ($tablet) {}
        @media screen and ($desktop) {
            @include h2;
            margin-bottom: 90px;
        }
    }
    &__list{
        @media screen and ($tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $space10;
        }
        @media screen and ($desktop) {
            column-gap: $space34;
            row-gap: 38px;;
        }
    }
    &__card{
        & + &{
            margin-top: $space10;
            @media screen and ($tablet) {
                margin-top: 0px;
            }
        }
    }
}
.company-name{
    @include flex(row, nowrap, flex-start, center);
    width: fit-content;
    max-width: 100%;
    padding: $space12;
    border-radius: $space24;
    border: 1px solid $lightGrey;
    color: $textGrey;
    text-decoration: none;
    @media screen and ($notebook) {
        width: 100%;
        align-items: flex-start;
        padding: 0;
        border-radius: 0;
        border: none;
    }

    &__logo{
        width: 28px;
        margin-right: $space12;
        flex-shrink: 0;
        line-height: 0;
    }
    &__name{
        margin-right: $space4;
        font-size: 17px;
        line-height: 1.5;
    }
    &__count{
        display: inline-block;
        color: $mediumGrey;
        font-size: $font14;
        @media screen and ($notebook) {
            margin-top: $space6;
        }
        &::before{
            content: "(";
        }
        &::after{
            content: ")";
        }
    }
}