<footer class="footer">
    <div class="footer__info">
        <div class="footer__logo footer-logo">
            <span class="footer-logo__logo"><img src="/images/logo-footer.png" class="footer-logo__pic" alt="Crypto Swipe"></span>
            <span class="footer-logo__name">CryptoSwipe</span>
        </div>
        <div class="footer__nav">
            <nav class="footer-nav footer-nav--about">
                <a href="#" class="footer-nav__link">About</a>
                <a href="#" class="footer-nav__link">Contact us</a>
            </nav>
            <nav class="footer-nav footer-nav--news">
                <a href="#" class="footer-nav__link footer-nav__link--name">News</a>
                <a href="#" class="footer-nav__link">HR Market news</a>
                <a href="#" class="footer-nav__link">Company life</a>
                <a href="#" class="footer-nav__link">IT Projects</a>
            </nav>
            <nav class="footer-nav footer-nav--employees">
                <a href="#" class="footer-nav__link footer-nav__link--name">For employees</a>
                <a href="#" class="footer-nav__link">Job search</a>
                <a href="#" class="footer-nav__link">Create CV</a>
                <a href="#" class="footer-nav__link">Mock interview</a>
            </nav>
            <nav class="footer-nav footer-nav--employers">
                <a href="#" class="footer-nav__link footer-nav__link--name">For employers</a>
                <a href="#" class="footer-nav__link">Employees search</a>
                <a href="#" class="footer-nav__link">CV database</a>
                <a href="#" class="footer-nav__link">Post job offer</a>
            </nav>
        </div>
    </div>
    <div class="footer__social footer-social">
        <a href="#" class="footer-social__link"><svg class="footer-social__icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.02365 12.7896L14.7664 17.7623C15.5327 18.1805 16.09 17.9714 16.2846 17.0523L19.0291 4.12503C19.3073 2.99594 18.5973 2.49412 17.8591 2.82866L1.75456 9.0423C0.654559 9.48776 0.667286 10.1005 1.5591 10.365L5.69638 11.6605L15.2673 5.62866C15.7127 5.35048 16.1309 5.50321 15.7964 5.81048L8.02365 12.7896Z"/>
            </svg></a>
        <a href="#" class="footer-social__link"><svg class="footer-social__icon" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.798 10.8537C18.2616 15.2246 15.0761 15.5064 14.4834 15.6755C14.2298 15.76 11.9171 16.3246 8.98433 16.1555C8.98433 16.1555 6.81342 18.7773 6.10797 19.4827C6.06865 19.5259 6.02099 19.5606 5.96786 19.5849C5.91473 19.6091 5.85725 19.6223 5.79888 19.6236C5.68524 19.5955 5.65706 19.4546 5.65706 19.2573C5.65706 18.9755 5.68524 15.6482 5.68524 15.6482C1.42706 14.4627 1.68069 10.0073 1.70888 7.66638C1.76524 5.32638 2.18888 3.43729 3.48615 2.13911C5.82615 0.0254692 10.6489 0.336378 10.6489 0.336378C14.7089 0.363651 16.6552 1.57638 17.1061 2.00001C18.5725 3.29729 19.3334 6.37092 18.798 10.8546V10.8537Z"/><path d="M12.6788 7.49712C12.6225 6.4253 12.087 5.86166 11.0434 5.8053M14.0888 7.94893C14.117 6.96166 13.807 6.11621 13.2152 5.46712C12.5943 4.79075 11.7479 4.42348 10.677 4.33984" stroke="white" stroke-width="0.909091" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.4988 8.51249C15.4988 6.79249 14.9624 5.43885 13.9479 4.45158C12.9324 3.46521 11.6634 2.95703 10.1406 2.95703" stroke="white" stroke-width="0.909091" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.0997 11.1344C11.0997 11.1344 11.4943 11.1626 11.6915 10.909L12.0861 10.4017C12.2834 10.1471 12.7352 9.97895 13.2143 10.2326C13.4688 10.3735 13.9197 10.6553 14.2015 10.8808C14.5115 11.1062 15.1315 11.6144 15.1315 11.6144C15.4424 11.868 15.4988 12.2344 15.3015 12.629C15.0858 13.0177 14.7987 13.3622 14.4552 13.6444C14.1734 13.899 13.8915 14.0108 13.6097 14.0671H13.4961C13.3834 14.0671 13.2424 14.0399 13.1297 14.0108C12.707 13.898 12.0024 13.588 10.7888 12.9399C10.1065 12.5604 9.45596 12.1265 8.84335 11.6426C8.53121 11.403 8.23876 11.1389 7.96881 10.8526L7.85608 10.7399C7.57695 10.4633 7.31351 10.1713 7.06699 9.86532C6.58303 9.25271 6.14921 8.60213 5.76972 7.91986C5.12063 6.73623 4.81063 6.03077 4.69699 5.57986C4.66229 5.46042 4.64334 5.33695 4.64062 5.21259V5.09986C4.66881 4.81804 4.80972 4.53623 5.06335 4.25441C5.36086 3.92646 5.70263 3.6416 6.07881 3.40804C6.47335 3.21077 6.84063 3.26714 7.09426 3.57714C7.09426 3.57714 7.60153 4.19804 7.82699 4.50804C8.02426 4.78986 8.30699 5.24077 8.47608 5.49441C8.72972 5.94623 8.56063 6.42532 8.33517 6.62259L7.82699 7.01804C7.57335 7.21532 7.60153 7.60895 7.60153 7.60895C7.60153 7.60895 8.30699 10.4017 11.0988 11.1344H11.0997Z" fill="white"/>
            </svg></a>
        <a href="#" class="footer-social__link"><svg class="footer-social__icon" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3502 5.29054C19.282 5.62781 19.012 6.19145 18.5393 6.97963C18.2011 7.54326 17.7957 8.19599 17.323 8.93963C16.9166 9.52508 16.703 9.82963 16.6802 9.85236C16.5457 10.0551 16.4775 10.2124 16.4775 10.3251C16.4775 10.4378 16.5457 10.5733 16.6802 10.7305L16.9848 11.0687C18.6066 12.736 19.5193 13.8851 19.7211 14.5151C19.7893 14.786 19.7611 14.9942 19.6375 15.1405C19.513 15.2869 19.3166 15.3605 19.0466 15.3605H17.052C16.8048 15.3605 16.5793 15.2814 16.3766 15.1242C16.2411 15.0333 15.9993 14.7914 15.6493 14.3969C15.3497 14.0555 15.0398 13.7233 14.7202 13.4005C13.8202 12.5442 13.1548 12.116 12.7266 12.116C12.5466 12.116 12.4175 12.1496 12.3384 12.2178C12.2593 12.2851 12.2202 12.4314 12.2202 12.6569C12.1975 12.8142 12.1866 13.1642 12.1866 13.7042V14.5833C12.2084 14.8533 12.1411 15.0451 11.9839 15.1578C11.7811 15.2924 11.3748 15.3605 10.7666 15.3605C9.70841 15.3605 8.63841 15.0451 7.5575 14.4142C6.47568 13.7833 5.52932 12.8824 4.71841 11.7105C3.98247 10.7234 3.3377 9.67155 2.79205 8.56781C2.41971 7.83387 2.09244 7.07792 1.81205 6.30417C1.65477 5.74054 1.57568 5.3469 1.57568 5.12145C1.57568 4.73781 1.80114 4.5469 2.25114 4.5469H4.24477C4.49296 4.5469 4.67932 4.60326 4.80296 4.71599C4.92659 4.82872 5.03387 5.03145 5.12387 5.32417C5.4413 6.23012 5.82538 7.11132 6.27296 7.96054C6.67841 8.74872 7.08387 9.39054 7.48932 9.88599C7.89477 10.3814 8.21023 10.6296 8.43477 10.6296C8.57114 10.6296 8.66659 10.5787 8.72296 10.4769C8.77932 10.376 8.8075 10.1787 8.8075 9.88599V6.94599C8.79317 6.61814 8.71277 6.29656 8.57114 6.00054C8.48335 5.81082 8.36952 5.63427 8.23296 5.47599C8.07477 5.28508 7.99659 5.1269 7.99659 5.00326C7.99659 4.87963 8.04659 4.77236 8.14841 4.68236C8.24521 4.59399 8.3719 4.54559 8.50296 4.5469H11.6457C11.8484 4.5469 11.9893 4.60326 12.0675 4.71599C12.1466 4.82872 12.1857 5.01963 12.1857 5.29054V9.21054C12.1857 9.41326 12.2202 9.55963 12.2875 9.64963C12.3154 9.69129 12.3532 9.72544 12.3974 9.74907C12.4416 9.77269 12.491 9.78506 12.5411 9.78508C12.6676 9.77708 12.7897 9.73635 12.8957 9.6669C13.0311 9.58781 13.2111 9.42417 13.4366 9.17599C13.8639 8.70326 14.293 8.11781 14.7202 7.41963C15.013 6.92326 15.2948 6.38326 15.5657 5.7969L15.903 5.12145C16.0611 4.73872 16.343 4.5469 16.7484 4.5469H18.742C19.282 4.5469 19.4848 4.79508 19.3502 5.29054Z"/>
            </svg></a>
    </div>
    <div class="footer__copy footer-copy">
        <div class="footer-copy__name">©&nbsp;2022 CryptoSwipe</div>
        <div class="footer-copy__text">
            Today on our website we posted 1&nbsp;004&nbsp;295 job offers, 61&nbsp;158&nbsp;529 CVs, 1&nbsp;823&nbsp;086 companies and 2&nbsp;949&nbsp;733 invites
        </div>

    </div>
</footer>
<script charset="UTF-8" src="/js/libs.js"></script>
<script charset="UTF-8" src="/js/main.js"></script>