<header class="header @@typeClass">
    <div class="header__info header__info--top">
        <a href="/" class="header__logo header__logo--mobile logo">
            <img class="logo__pic" src="images/logo.png" alt="Crypto Swipe">
        </a>
        <div class="header__switch--desktop">
            <div class="header__location location">
                <button class="location__btn" onclick="showLocation(this);">
                    <svg class="location__icon" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.0696 16.25H10.5961C11.1814 15.7273 11.7333 15.1684 12.2485 14.5766C14.175 12.3617 15.1946 10.0203 15.1946 7.8125C15.1946 6.17147 14.5427 4.59766 13.3823 3.43728C12.2219 2.2769 10.6481 1.625 9.00708 1.625C7.36605 1.625 5.79224 2.2769 4.63186 3.43728C3.47148 4.59766 2.81958 6.17147 2.81958 7.8125C2.81958 10.0203 3.83911 12.3617 5.77271 14.5766C6.28606 15.1701 6.83804 15.7292 7.42505 16.25H3.94458C3.7954 16.25 3.65232 16.3093 3.54683 16.4148C3.44134 16.5202 3.38208 16.6633 3.38208 16.8125C3.38208 16.9617 3.44134 17.1048 3.54683 17.2102C3.65232 17.3157 3.7954 17.375 3.94458 17.375H14.0696C14.2188 17.375 14.3618 17.3157 14.4673 17.2102C14.5728 17.1048 14.6321 16.9617 14.6321 16.8125C14.6321 16.6633 14.5728 16.5202 14.4673 16.4148C14.3618 16.3093 14.2188 16.25 14.0696 16.25ZM3.94458 7.8125C3.94458 6.46984 4.47795 5.18217 5.42735 4.23277C6.37675 3.28337 7.66442 2.75 9.00708 2.75C10.3497 2.75 11.6374 3.28337 12.5868 4.23277C13.5362 5.18217 14.0696 6.46984 14.0696 7.8125C14.0696 11.8344 10.1672 15.1953 9.00708 16.1094C7.84692 15.1953 3.94458 11.8344 3.94458 7.8125ZM11.8196 7.8125C11.8196 7.25624 11.6546 6.71247 11.3456 6.24996C11.0365 5.78745 10.5973 5.42696 10.0834 5.21409C9.56946 5.00122 9.00396 4.94552 8.45839 5.05404C7.91282 5.16256 7.41168 5.43043 7.01834 5.82376C6.62501 6.2171 6.35714 6.71824 6.24862 7.26381C6.1401 7.80938 6.1958 8.37488 6.40867 8.8888C6.62154 9.40271 6.98203 9.84197 7.44454 10.151C7.90705 10.46 8.45082 10.625 9.00708 10.625C9.753 10.625 10.4684 10.3287 10.9958 9.80124C11.5233 9.27379 11.8196 8.55842 11.8196 7.8125ZM7.31958 7.8125C7.31958 7.47874 7.41855 7.15248 7.60398 6.87498C7.7894 6.59747 8.05295 6.38118 8.3613 6.25345C8.66965 6.12573 9.00895 6.09231 9.3363 6.15742C9.66364 6.22254 9.96432 6.38326 10.2003 6.61926C10.4363 6.85526 10.597 7.15594 10.6622 7.48328C10.7273 7.81063 10.6938 8.14993 10.5661 8.45828C10.4384 8.76663 10.2221 9.03018 9.9446 9.2156C9.6671 9.40103 9.34084 9.5 9.00708 9.5C8.5601 9.49815 8.13195 9.31977 7.81588 9.0037C7.49982 8.68763 7.32143 8.25948 7.31958 7.8125Z"/>
                    </svg>    
                    <span class="location__name">Germany</span>
                </button>
            </div>
        </div>

        <nav class="header__nav header__nav--employee top-nav">
            <ul class="top-nav__list">
                <li class="top-nav__item"><a class="top-nav__link" href="#">Create your CV</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">Browse job offers</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">All services</a></li>
            </ul>
        </nav>
        <div class="header__menu">
            <button class="menu-btn" onclick="mobileMenu(this)">
                <svg class="menu-btn__icon menu-btn__icon--open" viewBox="0 0 25 25"  fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="menu-btn__line menu-btn__line--1" x="3.5" y="7"/>
                    <rect class="menu-btn__line menu-btn__line--2" x="3.5" y="12"/>
                    <rect class="menu-btn__line menu-btn__line--3" x="3.5" y="17"/>
                </svg>
                <svg class="menu-btn__icon menu-btn__icon--close" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796ZM4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796ZM4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796Z" fill="white"/>
                    <path d="M6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345ZM6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345ZM6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345Z" fill="white"/>
                </svg>
            </button>

        </div>
        <div class="header__main-nav main-nav">
            <div class="main-nav__title">MENU</div>
            <form class="main-nav__search search-form" action="#">
                <div class="search-form__info">
                    <div class="search-form__field search-form__field--page">
                        <input type="text" class="search-form__input"
                            placeholder="Search by job title, keywords or company">
                    </div>
                    <button type="submit"
                        class="search-form__submit search-form__submit--big">Search!</button>
                </div>
            </form>
            <div class="main-nav__container">
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">Search for jobs</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Advanced search</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Search by categorie</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Search on map</a></li>
                    </ul>
                </nav>
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">Create account</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Register</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Create CV</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Help</a></li>
                    </ul>
                </nav>
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">About us</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">What we do</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Contact us</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">News</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header__info header__info--auth">
        <a href="/" class="header__logo header__logo--auth header__logo--desktop logo">
            <img class="logo__pic" src="images/logo.png" alt="Crypto Swipe">
        </a>
        <nav class="top-nav top-nav--auth">
            <ul class="top-nav__list">
                <li class="top-nav__item"><a href="#" class="top-nav__link top-nav__link--auth">My CVs</a></li>
                <li class="top-nav__item"><a href="#" class="top-nav__link top-nav__link--auth">Responses</a></li>
                <li class="top-nav__item"><a href="#" class="top-nav__link top-nav__link--auth">Support</a></li>
            </ul>
        </nav>
        <div class="header__auth auth-block">
            <input type="text" class="auth-block__input" placeholder="Search...">
            <nav class="auth-block__nav">
                <a href="#" class="auth-link auth-block__link">
                    <span class="auth-link__marker"></span>
                    <svg class="auth-link__icon" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1309_20378" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                        <rect x="0.00585938" y="0.664062" width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1309_20378)">
                        <path d="M2.00586 22.6641V4.66406C2.00586 4.11406 2.20186 3.64306 2.59386 3.25106C2.98519 2.85973 3.45586 2.66406 4.00586 2.66406H20.0059C20.5559 2.66406 21.0269 2.85973 21.4189 3.25106C21.8102 3.64306 22.0059 4.11406 22.0059 4.66406V16.6641C22.0059 17.2141 21.8102 17.6851 21.4189 18.0771C21.0269 18.4684 20.5559 18.6641 20.0059 18.6641H6.00586L2.00586 22.6641ZM4.00586 17.8391L5.18086 16.6641H20.0059V4.66406H4.00586V17.8391Z" fill="white"/>
                        </g>
                    </svg>
                </a>
                <a href="#" class="auth-link auth-block__link">
                    <svg class="auth-link__icon" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1309_20384" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                        <rect x="0.00585938" y="0.664062" width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1309_20384)">
                        <path d="M12.0059 21.6645L10.5559 20.3645C8.87253 18.8478 7.48086 17.5395 6.38086 16.4395C5.28086 15.3395 4.40586 14.3518 3.75586 13.4765C3.10586 12.6018 2.65186 11.7978 2.39386 11.0645C2.13519 10.3311 2.00586 9.58112 2.00586 8.81445C2.00586 7.24779 2.53086 5.93945 3.58086 4.88945C4.63086 3.83945 5.93919 3.31445 7.50586 3.31445C8.37253 3.31445 9.19753 3.49779 9.98086 3.86445C10.7642 4.23112 11.4392 4.74779 12.0059 5.41445C12.5725 4.74779 13.2475 4.23112 14.0309 3.86445C14.8142 3.49779 15.6392 3.31445 16.5059 3.31445C18.0725 3.31445 19.3809 3.83945 20.4309 4.88945C21.4809 5.93945 22.0059 7.24779 22.0059 8.81445C22.0059 9.58112 21.8769 10.3311 21.6189 11.0645C21.3602 11.7978 20.9059 12.6018 20.2559 13.4765C19.6059 14.3518 18.7309 15.3395 17.6309 16.4395C16.5309 17.5395 15.1392 18.8478 13.4559 20.3645L12.0059 21.6645ZM12.0059 18.9645C13.6059 17.5311 14.9225 16.3018 15.9559 15.2765C16.9892 14.2518 17.8059 13.3605 18.4059 12.6025C19.0059 11.8438 19.4225 11.1685 19.6559 10.5765C19.8892 9.98512 20.0059 9.39779 20.0059 8.81445C20.0059 7.81445 19.6725 6.98112 19.0059 6.31445C18.3392 5.64779 17.5059 5.31445 16.5059 5.31445C15.7225 5.31445 14.9975 5.53512 14.3309 5.97645C13.6642 6.41845 13.2059 6.98112 12.9559 7.66445H11.0559C10.8059 6.98112 10.3475 6.41845 9.68086 5.97645C9.01419 5.53512 8.28919 5.31445 7.50586 5.31445C6.50586 5.31445 5.67253 5.64779 5.00586 6.31445C4.33919 6.98112 4.00586 7.81445 4.00586 8.81445C4.00586 9.39779 4.12253 9.98512 4.35586 10.5765C4.58919 11.1685 5.00586 11.8438 5.60586 12.6025C6.20586 13.3605 7.02253 14.2518 8.05586 15.2765C9.08919 16.3018 10.4059 17.5311 12.0059 18.9645Z" fill="white"/>
                        </g>
                    </svg>                        
                </a>
                <a href="#" class="auth-link auth-block__link">
                    <span class="auth-link__marker"></span>
                    <svg class="auth-link__icon" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1309_20389" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                        <rect x="0.00585938" y="0.664062" width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1309_20389)">
                        <path d="M4.00586 19.6641V17.6641H6.00586V10.6641C6.00586 9.28073 6.42253 8.0514 7.25586 6.97606C8.08919 5.9014 9.17253 5.1974 10.5059 4.86406V4.16406C10.5059 3.7474 10.6519 3.3934 10.9439 3.10206C11.2352 2.81006 11.5892 2.66406 12.0059 2.66406C12.4225 2.66406 12.7765 2.81006 13.0679 3.10206C13.3599 3.3934 13.5059 3.7474 13.5059 4.16406V4.86406C14.8392 5.1974 15.9225 5.9014 16.7559 6.97606C17.5892 8.0514 18.0059 9.28073 18.0059 10.6641V17.6641H20.0059V19.6641H4.00586ZM12.0059 22.6641C11.4559 22.6641 10.9852 22.4684 10.5939 22.0771C10.2019 21.6851 10.0059 21.2141 10.0059 20.6641H14.0059C14.0059 21.2141 13.8102 21.6851 13.4189 22.0771C13.0269 22.4684 12.5559 22.6641 12.0059 22.6641ZM8.00586 17.6641H16.0059V10.6641C16.0059 9.56406 15.6142 8.6224 14.8309 7.83906C14.0475 7.05573 13.1059 6.66406 12.0059 6.66406C10.9059 6.66406 9.96419 7.05573 9.18086 7.83906C8.39753 8.6224 8.00586 9.56406 8.00586 10.6641V17.6641Z" fill="white"/>
                        </g>
                    </svg>                        
                </a>
                <a href="#" class="auth-link auth-block__link">
                    <svg class="auth-link__icon" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1309_20395" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                        <rect x="0.00585938" y="0.664062" width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1309_20395)">
                        <path d="M12.0059 12.6641C10.9059 12.6641 9.96419 12.2724 9.18086 11.4891C8.39753 10.7057 8.00586 9.76406 8.00586 8.66406C8.00586 7.56406 8.39753 6.6224 9.18086 5.83906C9.96419 5.05573 10.9059 4.66406 12.0059 4.66406C13.1059 4.66406 14.0475 5.05573 14.8309 5.83906C15.6142 6.6224 16.0059 7.56406 16.0059 8.66406C16.0059 9.76406 15.6142 10.7057 14.8309 11.4891C14.0475 12.2724 13.1059 12.6641 12.0059 12.6641ZM4.00586 20.6641V17.8641C4.00586 17.2974 4.15186 16.7764 4.44386 16.3011C4.73519 15.8264 5.12253 15.4641 5.60586 15.2141C6.63919 14.6974 7.68919 14.3097 8.75586 14.0511C9.82253 13.7931 10.9059 13.6641 12.0059 13.6641C13.1059 13.6641 14.1892 13.7931 15.2559 14.0511C16.3225 14.3097 17.3725 14.6974 18.4059 15.2141C18.8892 15.4641 19.2765 15.8264 19.5679 16.3011C19.8599 16.7764 20.0059 17.2974 20.0059 17.8641V20.6641H4.00586ZM6.00586 18.6641H18.0059V17.8641C18.0059 17.6807 17.9602 17.5141 17.8689 17.3641C17.7769 17.2141 17.6559 17.0974 17.5059 17.0141C16.6059 16.5641 15.6975 16.2264 14.7809 16.0011C13.8642 15.7764 12.9392 15.6641 12.0059 15.6641C11.0725 15.6641 10.1475 15.7764 9.23086 16.0011C8.31419 16.2264 7.40586 16.5641 6.50586 17.0141C6.35586 17.0974 6.23519 17.2141 6.14386 17.3641C6.05186 17.5141 6.00586 17.6807 6.00586 17.8641V18.6641ZM12.0059 10.6641C12.5559 10.6641 13.0269 10.4681 13.4189 10.0761C13.8102 9.68473 14.0059 9.21406 14.0059 8.66406C14.0059 8.11406 13.8102 7.6434 13.4189 7.25206C13.0269 6.86006 12.5559 6.66406 12.0059 6.66406C11.4559 6.66406 10.9852 6.86006 10.5939 7.25206C10.2019 7.6434 10.0059 8.11406 10.0059 8.66406C10.0059 9.21406 10.2019 9.68473 10.5939 10.0761C10.9852 10.4681 11.4559 10.6641 12.0059 10.6641Z" fill="white"/>
                        </g>
                    </svg>
                        
                </a>
            </nav>
        </div>
    </div>
    <div class="header__menu-location main-nav">
        <div class="main-nav__title"></div>
        <form class="main-nav__search search-form" action="#">
            <div class="search-form__info">
                <div class="search-form__field search-form__field--page">
                    <input type="text" class="search-form__input"
                        placeholder="Search by job title, keywords or company">
                </div>
                <button type="submit"
                    class="search-form__submit search-form__submit--big">Search!</button>
            </div>
        </form>
        <div class="companies-list__letters companies-letters">
            <a class="companies-letters__link" href="#">A</a>
            <a class="companies-letters__link" href="#">B</a>
            <a class="companies-letters__link" href="#">C</a>
            <a class="companies-letters__link" href="#">D</a>
            <a class="companies-letters__link" href="#">E</a>
            <a class="companies-letters__link" href="#">F</a>
            <a class="companies-letters__link" href="#">G</a>
            <a class="companies-letters__link" href="#">H</a>
            <a class="companies-letters__link" href="#">I</a>
            <a class="companies-letters__link" href="#">J</a>
            <a class="companies-letters__link" href="#">K</a>
            <a class="companies-letters__link" href="#">L</a>
            <a class="companies-letters__link" href="#">M</a>
            <a class="companies-letters__link" href="#">N</a>
            <a class="companies-letters__link" href="#">O</a>
            <a class="companies-letters__link" href="#">P</a>
            <a class="companies-letters__link" href="#">Q</a>
            <a class="companies-letters__link" href="#">R</a>
            <a class="companies-letters__link" href="#">S</a>
            <a class="companies-letters__link" href="#">T</a>
            <a class="companies-letters__link" href="#">U</a>
            <a class="companies-letters__link" href="#">V</a>
            <a class="companies-letters__link" href="#">W</a>
            <a class="companies-letters__link" href="#">X</a>
            <a class="companies-letters__link" href="#">Y</a>
            <a class="companies-letters__link" href="#">Z</a>
        </div>
        <div class="companies-list__list">
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
        </div>
    </div>
    
</header>