<header class="header @@typeClass">
    <div class="header__info header__info--top">
        <a href="/" class="header__logo header__logo--mobile logo">
            <img class="logo__pic" src="images/logo.png" alt="Crypto Swipe">
        </a>
        <a href="" class="header__link header__link--mobile header-link header-link--auth">Login | Sign&nbsp;up</a>
        <a href="" class="header__link header__link--mobile header-link header-link--create">Create CV</a>
        <div class="header__switch--desktop">
            <div class="switch">
                <label class="switch__label">
                    <input type="checkbox" class="switch__input" @@type onclick="changeType(this)">
                    <span class="switch__marker"></span>
                    <span class="switch__name switch__name--look">Looking for a job</span>
                    <span class="switch__name switch__name--employ">For employers</span>
                </label>
            </div>
            <div class="header__location location">
                <button class="location__btn" onclick="showLocation(this);">
                    <svg class="location__icon" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.0696 16.25H10.5961C11.1814 15.7273 11.7333 15.1684 12.2485 14.5766C14.175 12.3617 15.1946 10.0203 15.1946 7.8125C15.1946 6.17147 14.5427 4.59766 13.3823 3.43728C12.2219 2.2769 10.6481 1.625 9.00708 1.625C7.36605 1.625 5.79224 2.2769 4.63186 3.43728C3.47148 4.59766 2.81958 6.17147 2.81958 7.8125C2.81958 10.0203 3.83911 12.3617 5.77271 14.5766C6.28606 15.1701 6.83804 15.7292 7.42505 16.25H3.94458C3.7954 16.25 3.65232 16.3093 3.54683 16.4148C3.44134 16.5202 3.38208 16.6633 3.38208 16.8125C3.38208 16.9617 3.44134 17.1048 3.54683 17.2102C3.65232 17.3157 3.7954 17.375 3.94458 17.375H14.0696C14.2188 17.375 14.3618 17.3157 14.4673 17.2102C14.5728 17.1048 14.6321 16.9617 14.6321 16.8125C14.6321 16.6633 14.5728 16.5202 14.4673 16.4148C14.3618 16.3093 14.2188 16.25 14.0696 16.25ZM3.94458 7.8125C3.94458 6.46984 4.47795 5.18217 5.42735 4.23277C6.37675 3.28337 7.66442 2.75 9.00708 2.75C10.3497 2.75 11.6374 3.28337 12.5868 4.23277C13.5362 5.18217 14.0696 6.46984 14.0696 7.8125C14.0696 11.8344 10.1672 15.1953 9.00708 16.1094C7.84692 15.1953 3.94458 11.8344 3.94458 7.8125ZM11.8196 7.8125C11.8196 7.25624 11.6546 6.71247 11.3456 6.24996C11.0365 5.78745 10.5973 5.42696 10.0834 5.21409C9.56946 5.00122 9.00396 4.94552 8.45839 5.05404C7.91282 5.16256 7.41168 5.43043 7.01834 5.82376C6.62501 6.2171 6.35714 6.71824 6.24862 7.26381C6.1401 7.80938 6.1958 8.37488 6.40867 8.8888C6.62154 9.40271 6.98203 9.84197 7.44454 10.151C7.90705 10.46 8.45082 10.625 9.00708 10.625C9.753 10.625 10.4684 10.3287 10.9958 9.80124C11.5233 9.27379 11.8196 8.55842 11.8196 7.8125ZM7.31958 7.8125C7.31958 7.47874 7.41855 7.15248 7.60398 6.87498C7.7894 6.59747 8.05295 6.38118 8.3613 6.25345C8.66965 6.12573 9.00895 6.09231 9.3363 6.15742C9.66364 6.22254 9.96432 6.38326 10.2003 6.61926C10.4363 6.85526 10.597 7.15594 10.6622 7.48328C10.7273 7.81063 10.6938 8.14993 10.5661 8.45828C10.4384 8.76663 10.2221 9.03018 9.9446 9.2156C9.6671 9.40103 9.34084 9.5 9.00708 9.5C8.5601 9.49815 8.13195 9.31977 7.81588 9.0037C7.49982 8.68763 7.32143 8.25948 7.31958 7.8125Z"/>
                    </svg>    
                    <span class="location__name">Germany</span>
                </button>
            </div>
        </div>

        <nav class="header__nav header__nav--employee top-nav">
            <ul class="top-nav__list">
                <li class="top-nav__item"><a class="top-nav__link" href="#">Create your CV</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">Browse job offers</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">All services</a></li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--employer top-nav">
            <ul class="top-nav__list">
                <li class="top-nav__item"><a class="top-nav__link" href="#">Access resume database</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">Post job offer</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">Plans</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">Promote your job offer</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#">All services</a></li>
            </ul>
        </nav>

        <div class="header__menu">
            <button class="menu-btn" onclick="mobileMenu(this)">
                <svg class="menu-btn__icon menu-btn__icon--open" viewBox="0 0 25 25"  fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="menu-btn__line menu-btn__line--1" x="3.5" y="7"/>
                    <rect class="menu-btn__line menu-btn__line--2" x="3.5" y="12"/>
                    <rect class="menu-btn__line menu-btn__line--3" x="3.5" y="17"/>
                </svg>
                <svg class="menu-btn__icon menu-btn__icon--close" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796ZM4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796ZM4.93436 7.00796L6.34857 5.59375L19.0765 18.3217L17.6623 19.7359L4.93436 7.00796Z" fill="white"/>
                    <path d="M6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345ZM6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345ZM6.3486 19.7345L4.93439 18.3203L17.6623 5.59239L19.0765 7.0066L6.3486 19.7345Z" fill="white"/>
                </svg>
            </button>

        </div>
        <div class="header__main-nav main-nav">
            <div class="main-nav__title">MENU</div>
            <form class="main-nav__search search-form" action="#">
                <div class="search-form__info">
                    <div class="search-form__field search-form__field--page">
                        <input type="text" class="search-form__input"
                            placeholder="Search by job title, keywords or company">
                    </div>
                    <button type="submit"
                        class="search-form__submit search-form__submit--big">Search!</button>
                </div>
            </form>
            <div class="main-nav__container">
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">Search for jobs</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Advanced search</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Search by categorie</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Search on map</a></li>
                    </ul>
                </nav>
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">Create account</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Register</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Create CV</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Help</a></li>
                    </ul>
                </nav>
                <nav class="main-nav__item basic-nav">
                    <h4 class="basic-nav__title">About us</h4>
                    <ul class="basic-nav__list">
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">What we do</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">Contact us</a></li>
                        <li class="basic-nav__item"><a href="#" class="basic-nav__link">News</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header__info header__info--mobile">
        <div class="type-switch">
            <div class="switch">
                <label class="switch__label">
                    <input type="checkbox" class="switch__input" @@type onclick="changeType(this)">
                    <span class="switch__marker"></span>
                    <span class="switch__name switch__name--look">Looking for a job</span>
                    <span class="switch__name switch__name--employ">For employers</span>
                </label>
            </div>
        </div>
        <div class="header__location location">
            <button class="location__btn" onclick="showLocation(this);">
                <svg class="location__icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.0696 16.25H10.5961C11.1814 15.7273 11.7333 15.1684 12.2485 14.5766C14.175 12.3617 15.1946 10.0203 15.1946 7.8125C15.1946 6.17147 14.5427 4.59766 13.3823 3.43728C12.2219 2.2769 10.6481 1.625 9.00708 1.625C7.36605 1.625 5.79224 2.2769 4.63186 3.43728C3.47148 4.59766 2.81958 6.17147 2.81958 7.8125C2.81958 10.0203 3.83911 12.3617 5.77271 14.5766C6.28606 15.1701 6.83804 15.7292 7.42505 16.25H3.94458C3.7954 16.25 3.65232 16.3093 3.54683 16.4148C3.44134 16.5202 3.38208 16.6633 3.38208 16.8125C3.38208 16.9617 3.44134 17.1048 3.54683 17.2102C3.65232 17.3157 3.7954 17.375 3.94458 17.375H14.0696C14.2188 17.375 14.3618 17.3157 14.4673 17.2102C14.5728 17.1048 14.6321 16.9617 14.6321 16.8125C14.6321 16.6633 14.5728 16.5202 14.4673 16.4148C14.3618 16.3093 14.2188 16.25 14.0696 16.25ZM3.94458 7.8125C3.94458 6.46984 4.47795 5.18217 5.42735 4.23277C6.37675 3.28337 7.66442 2.75 9.00708 2.75C10.3497 2.75 11.6374 3.28337 12.5868 4.23277C13.5362 5.18217 14.0696 6.46984 14.0696 7.8125C14.0696 11.8344 10.1672 15.1953 9.00708 16.1094C7.84692 15.1953 3.94458 11.8344 3.94458 7.8125ZM11.8196 7.8125C11.8196 7.25624 11.6546 6.71247 11.3456 6.24996C11.0365 5.78745 10.5973 5.42696 10.0834 5.21409C9.56946 5.00122 9.00396 4.94552 8.45839 5.05404C7.91282 5.16256 7.41168 5.43043 7.01834 5.82376C6.62501 6.2171 6.35714 6.71824 6.24862 7.26381C6.1401 7.80938 6.1958 8.37488 6.40867 8.8888C6.62154 9.40271 6.98203 9.84197 7.44454 10.151C7.90705 10.46 8.45082 10.625 9.00708 10.625C9.753 10.625 10.4684 10.3287 10.9958 9.80124C11.5233 9.27379 11.8196 8.55842 11.8196 7.8125ZM7.31958 7.8125C7.31958 7.47874 7.41855 7.15248 7.60398 6.87498C7.7894 6.59747 8.05295 6.38118 8.3613 6.25345C8.66965 6.12573 9.00895 6.09231 9.3363 6.15742C9.66364 6.22254 9.96432 6.38326 10.2003 6.61926C10.4363 6.85526 10.597 7.15594 10.6622 7.48328C10.7273 7.81063 10.6938 8.14993 10.5661 8.45828C10.4384 8.76663 10.2221 9.03018 9.9446 9.2156C9.6671 9.40103 9.34084 9.5 9.00708 9.5C8.5601 9.49815 8.13195 9.31977 7.81588 9.0037C7.49982 8.68763 7.32143 8.25948 7.31958 7.8125Z" fill="#6E6E6E"/>
                </svg>    
                <span class="location__name">Germany</span>
            </button>
        </div>
    </div>

    <div class="header__info header__info--desktop">
        <a href="/" class="header__logo header__logo--desktop logo">
            <img class="logo__pic" src="images/logo.png" alt="Crypto Swipe">
        </a>
        <a href="" class="header__link header__link--desktop header-link header-link--auth">Login | Sign&nbsp;up</a>
        <a href="" class="header__link header__link--desktop header-link header-link--create">Create CV</a>
    </div>
    <div class="header__menu-location main-nav">
        <div class="main-nav__title"></div>
        <form class="main-nav__search search-form" action="#">
            <div class="search-form__info">
                <div class="search-form__field search-form__field--page">
                    <input type="text" class="search-form__input"
                        placeholder="Search by job title, keywords or company">
                </div>
                <button type="submit"
                    class="search-form__submit search-form__submit--big">Search!</button>
            </div>
        </form>
        <div class="companies-list__letters companies-letters">
            <a class="companies-letters__link" href="#">A</a>
            <a class="companies-letters__link" href="#">B</a>
            <a class="companies-letters__link" href="#">C</a>
            <a class="companies-letters__link" href="#">D</a>
            <a class="companies-letters__link" href="#">E</a>
            <a class="companies-letters__link" href="#">F</a>
            <a class="companies-letters__link" href="#">G</a>
            <a class="companies-letters__link" href="#">H</a>
            <a class="companies-letters__link" href="#">I</a>
            <a class="companies-letters__link" href="#">J</a>
            <a class="companies-letters__link" href="#">K</a>
            <a class="companies-letters__link" href="#">L</a>
            <a class="companies-letters__link" href="#">M</a>
            <a class="companies-letters__link" href="#">N</a>
            <a class="companies-letters__link" href="#">O</a>
            <a class="companies-letters__link" href="#">P</a>
            <a class="companies-letters__link" href="#">Q</a>
            <a class="companies-letters__link" href="#">R</a>
            <a class="companies-letters__link" href="#">S</a>
            <a class="companies-letters__link" href="#">T</a>
            <a class="companies-letters__link" href="#">U</a>
            <a class="companies-letters__link" href="#">V</a>
            <a class="companies-letters__link" href="#">W</a>
            <a class="companies-letters__link" href="#">X</a>
            <a class="companies-letters__link" href="#">Y</a>
            <a class="companies-letters__link" href="#">Z</a>
        </div>
        <div class="companies-list__list">
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
            <a href="#" class="companies-list__item">
                Google <span class="companies-list__item--count">(120)</span>
            </a>
        </div>
    </div>
</header>