<section class="hero">
    <div class="hero__info">
        <h1 class="hero__title">@@title</h1>
        <div class="hero__search">
            <form class="search-form search-form--hero" action="#">
                <div class="search-form__info">

                    <div class="search-form__field">
                        <input type="text" class="search-form__input search-form__input--big"
                            placeholder="Search by job title, keywords or company">
                        <a href="#" class="search-form__filter search-filter" title="Advanced search">
                            <svg class="search-filter__icon" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="search-icon-gradient" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="26" height="26">
                                    <rect width="26" height="26" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#search-icon-gradient)">
                                    <path
                                        d="M12.8333 24.5V17.5H15.1667V19.8333H24.5V22.1667H15.1667V24.5H12.8333ZM3.5 22.1667V19.8333H10.5V22.1667H3.5ZM8.16667 17.5V15.1667H3.5V12.8333H8.16667V10.5H10.5V17.5H8.16667ZM12.8333 15.1667V12.8333H24.5V15.1667H12.8333ZM17.5 10.5V3.5H19.8333V5.83333H24.5V8.16667H19.8333V10.5H17.5ZM3.5 8.16667V5.83333H15.1667V8.16667H3.5Z"
                                        fill="url(#search-icon-gradient-url)" />
                                </g>
                                <defs>
                                    <linearGradient id="search-icon-gradient-url" x1="3.5" y1="3.5" x2="29.3161"
                                        y2="12.5231" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#BB9FFF" />
                                        <stop offset="1" stop-color="#9CD9FF" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </a>
                    </div>

                    <button type="submit"
                        class="search-form__submit search-form__submit--big search-form__submit--desktop">Search!</button>
                </div>
                <a href="#" class="search-form__type">I am looking for employee</a>
                <button type="submit" class="search-form__submit search-form__submit--mobile">Search!</button>
            </form>
        </div>
    </div>

</section>