<div class="pagination @@class">
    <a href="#" class="pagination__link pagination-link pagination-link--active">
        <span class="pagination-link__inner">
            <span class="pagination-link__text">1</span>
        </span>
    </a>
    <a href="#" class="pagination__link pagination-link">
        <span class="pagination-link__inner">
            <span class="pagination-link__text">2</span>
        </span>
    </a>
    <a href="#" class="pagination__link pagination-link">
        <span class="pagination-link__inner">
            <span class="pagination-link__text">3</span>
        </span>
    </a>
    <a href="#" class="pagination__link pagination-link">
        <span class="pagination-link__inner">
            <span class="pagination-link__text">...</span>
        </span>
    </a>
    <a href="#" class="pagination__link pagination-link">
        <span class="pagination-link__inner">
            <span class="pagination-link__text">25</span>
        </span>
    </a>
</div>