// .switch{
//     @include flex(row, nowrap, flex-start, center);
//     padding: $space8 0;
//     &__input{
//         opacity: 0;
//         visibility: hidden;
//         &::checked + .switch__marker{
//             background-color: red;
//         }
//     }
//     &__marker{
//         width: 34px;
//         height: 14px;
//         background-color: $lightGrey;
//         border-radius: 10px;
//     }
//     &__name{
//         &--look{
//             background: $greenGradient;
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             background-clip: text;
//             text-fill-color: transparent;
//         }
//         &--employ{
//             background: $blueGradient;
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             background-clip: text;
//             text-fill-color: transparent;
//         }
//     }
// }

.btn-round{
    padding: $space8 0;
    border-radius: 25px;
    font-weight: 600;
    color: $white;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: none;
    &--gradient{
        background: $blueGradient;
        background-position: center center;
        &:hover{
            background-size: 200%;
        }
        // color: $white;
    }
    &--grey{
        background: $lightGrey;
        // color: $white;
    }
    &--green{
        background: $greenGradient;
    }
    &--border{
        // background: $whiteBg;
        // border: ;
    }
}

@mixin input{
    padding: $space15 $space8;
    background: $white;
    border: 1px solid $lightGrey;
    border-radius: $space16;
    color: $mediumGrey;
    font-size: $font14;
    transition: $transition;
    outline: none;
    &::placeholder{
        color: $mediumGrey;
    }
    &:focus{
        border-color: $textGrey;
        color: $textGrey;
    }
}

.checkbox{
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        top: -7.5px;
        left: -7.5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        visibility: hidden;
        transition: $transition;
    }
    &:hover{
        &::after{
            visibility: visible;
            background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
        }
    }
    &__input{
        position: absolute;
        top: -999px;
        left: -999px;
        opacity: 0;
        visibility: hidden;
        &:checked{
            & + .checkbox__container{
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8333 0.5H2.16667C1.24167 0.5 0.5 1.25 0.5 2.16667V13.8333C0.5 14.75 1.24167 15.5 2.16667 15.5H13.8333C14.7583 15.5 15.5 14.75 15.5 13.8333V2.16667C15.5 1.25 14.7583 0.5 13.8333 0.5ZM6.33333 12.1667L2.16667 8L3.34167 6.825L6.33333 9.80833L12.6583 3.48333L13.8333 4.66667L6.33333 12.1667Z' fill='url(%23paint0_linear_1205_690)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1205_690' x1='0.5' y1='0.5' x2='18.9401' y2='6.94507' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BB9FFF'/%3E%3Cstop offset='1' stop-color='%239CD9FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            & + .checkbox__container .checkbox__point{
                background-color: transparent;
            }
        }
    }
    &__container{
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 2px;
        background: $blueGradient;
        border-radius: 2px;
    }
    &__point{
        display: block;
        width: 100%;
        height: 100%;
        background-color: $white;
    }
}

.radio{
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        top: -6.5px;
        left: -6.5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        visibility: hidden;
        transition: $transition;
    }
    &:hover{
        &::after{
            visibility: visible;
            background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.15) 0%, rgba(156, 217, 255, 0.15) 102.22%);
        }
    }
    &__input{
        position: absolute;
        top: -999px;
        left: -999px;
        opacity: 0;
        visibility: hidden;
        &:checked{
            & + .radio__container{
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00008 4.83268C6.70008 4.83268 4.83341 6.69935 4.83341 8.99935C4.83341 11.2993 6.70008 13.166 9.00008 13.166C11.3001 13.166 13.1667 11.2993 13.1667 8.99935C13.1667 6.69935 11.3001 4.83268 9.00008 4.83268ZM9.00008 0.666016C4.40008 0.666016 0.666748 4.39935 0.666748 8.99935C0.666748 13.5993 4.40008 17.3327 9.00008 17.3327C13.6001 17.3327 17.3334 13.5993 17.3334 8.99935C17.3334 4.39935 13.6001 0.666016 9.00008 0.666016ZM9.00008 15.666C5.31675 15.666 2.33341 12.6827 2.33341 8.99935C2.33341 5.31602 5.31675 2.33268 9.00008 2.33268C12.6834 2.33268 15.6667 5.31602 15.6667 8.99935C15.6667 12.6827 12.6834 15.666 9.00008 15.666Z' fill='url(%23paint0_linear_1205_18723)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1205_18723' x1='0.666748' y1='0.666016' x2='21.1557' y2='7.82721' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BB9FFF'/%3E%3Cstop offset='1' stop-color='%239CD9FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            & + .radio__container .radio__point{
                background-color: transparent;
            }
        }
    }
    &__container{
        display: inline-block;
        width: 17px;
        height: 17px;
        padding: 2px;
        background: $blueGradient;
        border-radius: 50%;
    }
    &__point{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $white;
    }
}
.file{
    position: relative;
    display: inline-block;
    padding: $space10;
    border: 1px solid $lightGrey;
    border-radius: 15px;
    line-height: 0;
    cursor: pointer;
    transition: $transition;
    @media screen and ($tablet) {
        border: none;
    }
    &:hover{
        border-color: $textGrey;
    }
    &__input{
        position: absolute;
        top: -999px;
        left: -999px;
        opacity: 0;
        visibility: hidden;
    }
    &__icon{
        width: $space24;
    }
}
.search-form{
    @media screen and ($tablet) {
        // display: grid;
        // grid-template-areas:
        //     "field submit"
        //     "type type";
        // grid-template-columns: 1fr auto;
    }
    &__info{
        @media screen and ($tablet) {
            @include flex(row, nowrap, flex-start, center);
            border: 1px solid $lightGrey;
            border-radius: $space60;
            background: $white;
        }
    }
    &__field{
        position: relative;
        @media screen and ($tablet) {
            flex-grow: 1;
        }
        &--page{
            padding-bottom: $space12;
            @media screen and ($tablet) {
                padding-bottom: 0;
            }
        }
    }
    &__input{
        display: block;
        width: 100%;
        @include input;
        @media screen and ($tablet) {
            padding-left: $space24;
            border: none;
            font-size: $font16;
            border: none;
            background-color: transparent;
        }
        &::placeholder{
            @media screen and ($tablet) {
                font-size: $font16;
            }
        }
        &--big{
            @media screen and ($tablet) {
                padding: $space20 $space24;
            }
        }
        &--login{
            @media screen and ($tablet) {
                padding-top: $space14;
                padding-bottom: $space14;
                padding-left: $space15;
                font-size: $font14;
            }
            &::placeholder{
                font-size: $font14;
            }
        }
    }
    &__filter{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        z-index: 1;
    }
    &__type{
        display: inline-block;
        margin-top: $space12;
        margin-bottom: $space24;
        color: $textGrey;
        text-decoration: underline;
        @include link;
        font-size: $font14;
        &:hover{}
        @media screen and ($tablet) {
            width: fit-content;
            margin-left: 20px;
            margin-bottom: 0;
            grid-area: type;
        }
    }
    &__submit{
        display: block;
        width: 100%;
        @extend .btn-round;
        @extend .btn-round--gradient;
        padding: $space16 0;
        @media screen and ($tablet) {
            position: relative;
            width: fit-content;
            padding-left: $space20;
            padding-right: $space20;
            grid-area: submit;
        }
        @media screen and ($medium) {
            font-size: $font20;
        }
        &--mobile{
            display: block;
            @media screen and ($tablet) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($tablet) {
                display: block;
            }
        }
        &--big{
            padding: $space20 $space50;
            border-radius: $space60;
            @media screen and ($tablet) {
                // padding-top: $space15;
                // padding-bottom: $space15;
                font-size: $font16;
            }
        }
        &--account{
            margin-top: $space20;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}

.search-filter{
    display: inline-block;
    padding: $space8;
    text-decoration: none;
    border-radius: 50%;
    line-height: 0;
    &:hover{
        background: linear-gradient(109.27deg, rgba(187, 159, 255, 0.3) 0%, rgba(156, 217, 255, 0.3) 102.22%);;
    }
    &__icon{
        width: 26px;
    }
}

.range{
    padding-top: $space20;
    @media screen and ($desktop) {
        max-width: 220px;
    }
    .range__item{
        position: relative;
    }
    &__descr{
        @include flex(row, nowrap, space-between, center);
        padding-top: $space12;
        padding-bottom: $space12;
    }
    &__value{
        &--hidden{
            display: none;
        }
    }
    &__text-value{
        font-size: $font12;
        color: $mediumGrey;
        letter-spacing: 0.17px;
    }
    &, * {
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        -ms-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .noUi-base{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        height: 3px;
        background: linear-gradient(109.27deg, #bb9fff66 0%, rgba(156, 217, 255, 0.4) 102.22%);
    }
    .noUi-connect{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background: $blueGradient;
        will-change: transform;
        height: 3px;
        width: 100%;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
    }
    .noUi-handle{
        position: absolute;
        right: -7px;
        top: -4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $blueGradient;
        cursor: pointer;
        backface-visibility: hidden;
    }
}

.tab{
    &__list{
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space24;
    }
    &__item{
        font-size: $font14;
        @include linkReverseGradient;
        &::after{
            content: none;
        }
        &--active{
            @include linkGradient;
            // background-image: $blueGradient;
            // background-image: linear-gradient(45deg, $textGrey, $textGrey);
            &::after{
                content: "";
                background-image: $blueGradient;
                // background: none;
            }
            &:hover{
                // background-image: linear-gradient(45deg, $textGrey, $textGrey);
                // background-image: $blueGradient;
                &::after{
                    // background-image: linear-gradient(45deg, $textGrey, $textGrey);
                }
            }
        }
        &--caps{
            text-transform: uppercase;
        }
    }
}

.select{
    @include flex();
    padding: $space10 $space12;
    border: 1px solid $lightGrey;
    border-radius: $space20;
    &--open{
        .select__icon{
            transform: rotate(180deg);
        }
    }
    &__title{
        color: $textGrey;
        font-size: 12px;
    }
    &__icon{
        width: 18px;
        transition: $transition;
    }
}

@mixin linkGraadient{
    position: relative;
    background-image: $blueGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 1px;
        background-image: $blueGradient;
        transition: $transition;
    }
    &:hover{
        background-image: linear-gradient(45deg, $textGrey, $textGrey);
        // background-image: linear-gradient(45deg, $textGrey, $textGrey);
        &::after{
            opacity: 0;
            // background-image: $blueGradient;
            // background-image: none;
        }
    }
    &--active{
        background-image: $blueGradient;
        // background-image: linear-gradient(45deg, $textGrey, $textGrey);
        &::after{
            background-image: $blueGradient;
            // background: none;
        }
        &:hover{
            background-image: linear-gradient(45deg, $textGrey, $textGrey);
            // background-image: $blueGradient;
            &::after{
                background-image: linear-gradient(45deg, $textGrey, $textGrey);
            }
        }
    }
    &--caps{
        text-transform: uppercase;
    }
}