.cv-card-small {
    padding: $space20 $space16;
    border: 1px solid $lightGrey;
    border-radius: 20px;

    &__photo {
        margin-bottom: $space8;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-bottom: $space8;
        font-weight: 500;
        font-size: $font18;
        @include colorGradient;
        background-image: $blueGradient;
    }

    &__info {
        @include flex(row, wrap, flex-start, center);
        column-gap: $space10;
        row-gap: $space8;
    }

    &__info-item {
        @include flex(row, nowrap, flex-start, center);
        column-gap: $space5;
        flex-shrink: 0;

        &--location {
            flex-basis: 100%;
        }
    }

    &__icon {
        width: $space16;
    }

    &__descr {
        font-size: $font12;
        color: $mediumGrey;
    }

}

.cv-card {
    position: relative;
    padding-top: $space20;
    padding-bottom: $space20;
    padding-left: $space16;
    padding-right: $space12;
    border: 1px solid $lightGrey;
    border-radius: $space20;

    @media screen and ($notebook) {
        padding: $space40 $space24 $space28;
    }
    &__header{
        display: grid;
        grid-template-areas: "status photo" "title photo" "pay photo" "info info";
    }
    &__status{
        grid-area: status;
    }
    &__online{
        
    }
    &__pay{
        grid-area: pay;
        font-weight: 500;
        font-size: $font18;
        color: $textGrey;
    }
    &__company {
        @include flex(row, nowrap, space-between, center);
        margin-bottom: $space4;
    }
    &__photo{
        grid-area: photo;
    }
    &__avatar{
        margin: 0 auto $space4;
        width: $space32;
        height: $space32;
        border-radius: 50%;
        overflow: hidden;
        @media screen and ($notebook) {
            margin: 0;
            margin-left: auto;
            width: 70px;
            height: 70px;
        }
    }
    &__tag{
        width: 80px;
    }
    &__pic {
        width: 100%;
        height: 100%;
        line-height: 0;
        object-fit: cover
    }

    &__name {
        @include flex(row, nowrap, flex-start, center);
        font-size: $font14;
        color: $mediumGrey;
    }

    &__verify {
        margin-left: $space10;
    }

    &__title {
        margin-bottom: $space6;
        @include text;
        font-weight: 500;
        background-image: $blueGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, center);
            column-gap: $space18;
        }
    }

    &__promoted {
        &--mobile {
            display: flex;

            @media screen and ($notebook) {
                display: none;
            }

        }

        &--desktop {
            display: none;

            @media screen and ($notebook) {
                display: flex;
            }

        }
    }

    &__info {
        @include flex(row, wrap, flex-start, center);
        column-gap: $space15;
        padding-bottom: $space4;
        grid-area: info;
        margin-top: $space20;
        @media screen and ($notebook) {
            margin-top: $space15;
            margin-bottom: $space15;
        }
    }

    &__text {
        max-height: 32px;
        max-width: 640px;
        font-size: $font12;
        line-height: 1.4;
        color: $mediumGrey;
        overflow: hidden;
        &--bold{
            font-weight: 600;
        }
    }

    &__footer {
        padding-top: $space4;

        @media screen and ($notebook) {
            @include flex(row-reverse, nowrap, space-between, center);
            padding-top: $space15;
        }
        &--send{
            @media screen and ($notebook) {
                flex-direction: row;
            }
        }
    }

    &__watch {}

    &__controls {
        @include flex(row, nowrap, center, center);
        column-gap: $space8;
        padding-top: $space20;

        @media screen and ($notebook) {
            column-gap: $space4;
            padding-top: 0;

        }
    }

    &__btn {
        @extend .btn-round;
        padding-top: $space6;
        padding-bottom: $space6;
        flex: 1 0 49%;
        font-size: $font12;
        @media screen and ($notebook) {
            padding: $space8 $space24;
            flex: 1 1 auto;
        }

        &--apply {
            @extend .btn-round--gradient;
        }

        &--contact {
            @extend .btn-round--grey;
        }
    }

    &__update{
        margin-top: $space20;
        font-size: $font12;
        color: $lightGrey;
        @media screen and ($notebook) {
            margin-top: 0;
        }
    }
}