.card-small{
    padding: $space20 $space16;
    border: 1px solid $lightGrey;
    border-radius: $space20;
    @media screen and ($desktop) {
        padding: $space24 $space20;
    }
    &__company{
        margin-bottom: $space4;
        font-size: $font14;
        color: $mediumGrey;
        @media screen and ($notebook) {
            margin-bottom: $space6;
        }
        @media screen and ($desktop) {
            margin-bottom: $space8;
        }
    }
    &__name{
        display: block;
        margin-bottom: $space4;
        @include h4;
        background-image: $blueGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__pay{
        margin-bottom: $space6;
        font-size: $font20;
        font-weight: 500;
        color: $textGrey;
        @media screen and ($desktop) {
            margin-bottom: $space8;
        }
    }
    &__info{
        @include flex(row, wrap, flex-start, center);
        column-gap: $space8;
        row-gap: $space4;
        @media screen and ($notebook) {
            column-gap: $space16;
            row-gap: 0;

        }
    }
    &__info-item{
        @include flex(row, nowrap, flex-start, center);
    }
    &__descr{
        font-size: $font12;
        color: $mediumGrey;
    }
    &__icon{
        width: $font14;
        margin-right: $space4;
        fill: $mediumGrey;
    }
}