*{
    margin: 0;
    line-height: 1.2;
    box-sizing: border-box;
}
button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: $transition;
}
a{
    transition: $transition;
}
img{
    width: 100%;
}