@font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('fonts/poppins-400.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('fonts/poppins-400.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('fonts/poppins-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('fonts/poppins-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('fonts/poppins-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('fonts/poppins-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body{
     font-family: 'Poppins', sans-serif;
     line-height: 1.2;
     color: $black;
}
@mixin page-title{
     font-weight: 500;
     font-size: 24px;
     @media screen and ($tablet) {
          font-size: 26px;
     }
     @media screen and ($notebook) {
          font-size: 28px;
     }
     @media screen and ($medium) {
          font-size: 36px;
     }
     @media screen and ($desktop) {
          font-size: 40px;
     }
}
@mixin subtitle{
     font-weight: 500;
     font-size: 24px;
     @media screen and ($tablet) {
          font-size: 26px;
     }
     @media screen and ($notebook) {
          font-size: 28px;
     }
     @media screen and ($medium) {
          font-size: 30px;
     }
     @media screen and ($desktop) {
          font-size: 32px;
     }
}
@mixin text{
     font-size: 14px;
     line-height: 1.4;
     @media screen and ($notebook) {
          font-size: 16px;
     }
}
@mixin h1{
     font-weight: 500;
     font-size: 48px;
}
@mixin h2{
     font-weight: 500;
     font-size: 32px;
}
@mixin h3{
     font-weight: 500;
     font-size: 24px;
}
@mixin h4{
     font-weight: 500;
     font-size: 18px;
}
@mixin text14{
     font-size: 14px;
     line-height: 1.4;
}
@mixin text16{
     font-size: 16px;
     line-height: 1.4;
}

@mixin link{
     color: $textGrey;
     transition: $transition;
     text-decoration: none;
     &:hover{
          background-image: $blueGradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
     }
}

@mixin colorGradient{
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
}

@mixin linkGradient{
     position: relative;
     background-image: $blueGradient;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          display: block;
          width: 100%;
          height: 1px;
          background-image: $blueGradient;
     }
     &:hover{
          background-image: linear-gradient(45deg, $textGrey, $textGrey);
          &::after{
               background-image: linear-gradient(45deg, $textGrey, $textGrey);
          }
      }
}

@mixin linkReverseGradient{
     position: relative;
     // background-image: $blueGradient;
     background-image: linear-gradient(45deg, $textGrey, $textGrey);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          display: block;
          width: 100%;
          height: 1px;
          // background-image: $blueGradient;
          background-image: linear-gradient(45deg, $textGrey, $textGrey);
     }
     &:hover{
          background-image: $blueGradient;
          // background-image: linear-gradient(45deg, $textGrey, $textGrey);
          &::after{
               background-image: $blueGradient;
               background-image: linear-gradient(45deg, $textGrey, $textGrey);
          }
      }
}