
// system
$transition: all 0.3s ease-in;

// space
$space4: 4px;
$space5: 5px;
$space6: 6px;
$space8: 8px;
$space10: 10px;
$space12: 12px;
$space14: 15px;
$space15: 15px;
$space16: 16px;
$space18: 18px;
$space20: 20px;
$space22: 22px;
$space24: 24px;
$space28: 28px;
$space30: 30px;
$space32: 32px;
$space34: 34px;
$space40: 40px;
$space50: 50px;
$space60: 60px;

// text
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;

// breakpoints
$desktop: "min-width:"+1440px;
$medium: "min-width:"+1200px;
$notebook: "min-width:"+1024px;
$tablet: "min-width:"+768px;
$desktopCon: calc((100vw - var(--desktopCon)) / 2);
$mediumCon: calc((100vw - var(--mediumCon)) / 2);
$notebookCon: calc((100vw - var(--notebookCon)) / 2);
$tabletCon: calc((100vw - var(--tabletCon)) / 2);
$mobileCon: var(--mobileCon);

:root{
    --desktopCon: 1360px;
    --mediumCon: 1120px;
    --notebookCon: 992px;
    --tabletCon: 708px;
    --mobileCon: 20px;
}

@mixin container{
    padding-left: $mobileCon;
    padding-right: $mobileCon;
    @media screen and ($tablet) {
        padding-left: $tabletCon;
        padding-right: $tabletCon;
    }
    @media screen and ($notebook) {
        padding-left: $notebookCon;
        padding-right: $notebookCon;
    }
    @media screen and ($medium) {
        padding-left: $mediumCon;
        padding-right: $mediumCon;
    }
    @media screen and ($desktop) {
        padding-left: $desktopCon;
        padding-right: $desktopCon;
    }
}

@mixin flex($dir: row, $wrap: nowrap, $just: space-between, $align: center){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@media screen and ($tablet) {}
@media screen and ($notebook) {}
@media screen and ($medium) {}
@media screen and ($desktop) {}

// colors
$black: #2C2C2C;
$white: #fff;
$lightGrey: #E3E3E3;
$textGrey: #6E6E6E;
$mediumGrey: #ACACAC;
$whiteBg: #F6F8F7;
$blueGradient: linear-gradient(109.27deg, rgb(187, 159, 255) 0%, rgb(156, 217, 255) 102.22%);
$greenGradient: linear-gradient(109.27deg, #4BB24E 0%, #9CFFD5 102.22%);
